{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["react", "react-hooks", "simple-import-sort"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/ban-types": 1,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-empty-function": 0,
    "eqeqeq": [2, "smart"],
    "no-array-constructor": 2,
    "no-bitwise": 2,
    "no-cond-assign": 2,
    "no-console": [
      2,
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-constant-condition": 2,
    "no-eval": 2,
    "no-implied-eval": 2,
    "no-lonely-if": 2,
    "no-restricted-globals": ["error", "fdescribe", "fit"],
    "no-unsafe-negation": 2,
    "no-nested-ternary": 2,
    "react/jsx-no-bind": [
      2,
      {
        "ignoreDOMComponents": true,
        "ignoreRefs": true
      }
    ],
    "react/prop-types": 1,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "error",
      {
        "additionalHooks": "useCachedCallback"
      }
    ],
    "use-isnan": 2,
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react$", "^classnames$", "^[a-z]", "^@(?!common|processing|public|uikit|admin|tracker)"],
          ["^@(common|public|uikit)"],
          ["^@(admin|processing|tracker)"],
          ["^\\.\\.(?!/?$)", "^\\.\\./?$", "^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          ["^.+(\\.mod)?\\.css$"],
          ["^.+\\.(png|gif|jpe?g|webm|mov|svg)$"],
          ["^\\u0000"]
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**.*.js", "**/*.jsx"],
      "rules": {
        "no-unused-vars": [
          "error",
          {
            "vars": "all",
            "args": "none",
            "varsIgnorePattern": "^React$|^_|^PropTypes$"
          }
        ]
      }
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "vars": "all",
            "args": "none",
            "varsIgnorePattern": "^React$|^_"
          }
        ]
      }
    },
    {
      "files": ["**/*Spec.ts", "**/*Spec.tsx", "**/*.spec.ts", "**/*.spec.tsx", "**/*Spec.js", "spec/**"],
      "env": {
        "jasmine": true
      },
      "rules": {
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-unused-vars": 1,
        "no-empty": 0,
        "no-unused-vars": 0,
        "react/jsx-no-bind": 0,
        "react/no-find-dom-node": 1
      }
    }
  ]
}
