{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "API_ROOT": true,
    "STATIC_URL": true,
    "APP_NAME": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "no-array-constructor": 2,
    "no-bitwise": 2,
    "no-cond-assign": 2,
    "no-console": [
      2,
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-constant-condition": 2,
    "no-eval": 2,
    "no-implied-eval": 2,
    "no-lonely-if": 2,
    "no-unsafe-negation": 2,
    "no-nested-ternary": 2,
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none",
        "varsIgnorePattern": "^React$|^_|^PropTypes$"
      }
    ],
    "react/prop-types": 1,
    "eqeqeq": [
      2,
      "smart"
    ],
    "use-isnan": 2
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint"
      ]
    },
    {
      "files": [
        "**/*Spec.ts",
        "**/*Spec.tsx",
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "**/*Spec.js",
        "spec/**"
      ],
      "env": {
        "jasmine": true
      },
      "rules": {
        "@typescript-eslint/ban-ts-ignore": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "no-empty": 0,
        "no-unused-vars": 1,
        "react/no-find-dom-node": 0
      }
    },
    {
      "files": [
        "babel.config.js"
      ],
      "env": {
        "node": true
      }
    }
  ]
}
