[flake8]
max-line-length = 120
# B950 replaces E501 for line length.
# W503 is superceded by W504 (multline operator positioning)
# E203 conflicts with black (spaces between colons in slice notation)
select = C,E,F,W,B,B950
ignore = W503,E203,E501,
