*.mo
.python-version
*.pyc
*.swp
*.sqlite
*.sqlite3
build
*.egg-info
.webpack_build_cache/
*.manifest.json
node_modules/
dist/
tracker/static/gen/
tracker/templates/ui/generated/
geckodriver.log
test-results
tests/_trial_temp

# Yarn files for projects not using zero-installs,
# taken from https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored.
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# macOS generated configuration files for Finder.
*.DS_Store
