trigger:
  - master
  - gh-readonly-queue/master/*

pool:
  vmImage: 'ubuntu-latest'

jobs:
  - job: tracker_backend_tests
    dependsOn: []
    displayName: Tracker Backend
    strategy:
      matrix:
        Oldest:
          PYTHON_VERSION: '3.8'
          DJANGO_VERSION: '4.2'
        Django42:
          PYTHON_VERSION: '3.12'
          DJANGO_VERSION: '4.2'
        Python38:
          PYTHON_VERSION: '3.8'
          DJANGO_VERSION: '4.2'
        Python39:
          PYTHON_VERSION: '3.9'
          DJANGO_VERSION: '4.2'
        Python3A:
          PYTHON_VERSION: '3.10'
          DJANGO_VERSION: '5.0'
        Python3B:
          PYTHON_VERSION: '3.11'
          DJANGO_VERSION: '5.0'
        Latest:
          PYTHON_VERSION: '3.12'
          DJANGO_VERSION: '5.0'

    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '$(PYTHON_VERSION)'
          architecture: 'x64'

      - task: NodeTool@0
        inputs:
          versionSpec: '18'

      - task: Cache@2
        inputs:
          key: pip | $(Agent.OS) | "$(DJANGO_VERSION)" | tests/requirements.txt | setup.py
          path: $(Pipeline.Workspace)/../../.cache/pip
        displayName: 'Cache pip'

      - task: Cache@2
        inputs:
          key: yarn | $(Agent.OS) | production | yarn.lock
          path: $(Build.SourcesDirectory)/.yarn
        displayName: 'Cache yarn'

      - script: |
          python -m pip install --upgrade pip setuptools wheel
        displayName: 'Install Python base packages'

      - script: |
          pip install . -r tests/requirements.txt django~=${DJANGO_VERSION}
        displayName: 'Install Python prerequisites'

      - script: |
          python check_migrations.py
        displayName: 'Check for bad or missing migrations'

      - script: |
          python listperms.py --validate
        displayName: 'Check for changed permissions list'

      - script: |
          python runtests.py --no-input --parallel 8
        displayName: 'Run Django tests'

      - task: PublishTestResults@2
        inputs:
          testResultsFiles: 'test-results/TEST-*.xml'
          testRunTitle: 'Python $(PYTHON_VERSION)'
        condition: succeededOrFailed()

  - job: build_package
    displayName: Tracker Package
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '18'

      - task: Cache@2
        inputs:
          key: pip | $(Agent.OS) | setup.py
          path: $(Pipeline.Workspace)/../../.cache/pip
        displayName: 'Cache pip'

      - task: Cache@2
        inputs:
          key: yarn | $(Agent.OS) | production | yarn.lock
          path: $(Build.SourcesDirectory)/.yarn
        displayName: 'Cache yarn'

      - script: |
          python -m pip install --upgrade pip setuptools wheel twine
          python setup.py package
        displayName: 'Build Package'
        env:
          PACKAGE_NAME_SUFFIX: $(Build.SourceVersion)

      - task: TwineAuthenticate@1
        inputs:
          artifactFeed: donation-tracker/donation-tracker-packages

      - script: |
          python -m twine upload -r donation-tracker-packages --config-file $(PYPIRC_PATH) dist/*.whl
        displayName: Upload Package Artifact

  - job: precommit_check
    displayName: Run pre-commit hooks
    steps:
      - task: Cache@2
        inputs:
          key: pip | $(Agent.OS) | precommit | setup.py
          path: $(Pipeline.Workspace)/../../.cache/pip
        displayName: 'Cache pip'

      - task: Cache@2
        inputs:
          key: pre-commit | .pre-commit-config.yaml
          path: $(Pipeline.Workspace)/../../.cache/pre-commit
        displayName: 'Cache pre-commit'

      - task: Cache@2
        inputs:
          key: yarn | $(Agent.OS) | development | yarn.lock
          path: $(Build.SourcesDirectory)/.yarn
        displayName: 'Cache yarn'

      - script: |
          python -m pip install --upgrade pip setuptools wheel pre-commit
          ss=0
          yarn --immutable || ss=1
          pre-commit run --all || ss=1
          pre-commit run --hook-stage push --all || ss=1
          exit $ss
        displayName: 'Run pre-commit hooks'

  - job: tracker_frontend_tests
    dependsOn: []
    displayName: Tracker Frontend
    continueOnError: true
    variables:
      YARN_CACHE_FOLDER: $(Pipeline.Workspace)/.yarn
    strategy:
      matrix:
        Node16:
          NODE_VERSION: 16
        Node18:
          NODE_VERSION: 18

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(NODE_VERSION)'

      - task: Cache@2
        inputs:
          key: yarn | $(Agent.OS) | "$(NODE_VERSION)" | development | yarn.lock
          path: $(YARN_CACHE_FOLDER)
        displayName: 'Cache yarn'

      - script: yarn --immutable
        displayName: 'yarn install'

      - script: yarn build
        displayName: 'build'

      - script: yarn test
        displayName: 'tests (Karma)'
