Django==1.11.23
django-ajax-selects==1.7.1
django-betterforms==1.1.4
django-ical==1.7.0
django-paypal==0.5.0
django-mptt==0.10.0
django-post-office==3.2.1
django-timezone-field==3.1
djangorestframework==3.9.1
pre-commit==1.20.0
psycopg2-binary==2.8.4
python-dateutil==2.8.1
pytz==2019.3
responses~=0.10.9
webpack-manifest==2.1.1
