{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}Diagnostics{{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="application/javascript" src="{% static 'tracker_diagnostics.js' %}"></script>
{% endblock %}

{% block content %}
  <div style="display: grid; grid-template-columns: repeat(5, 20%)">
    <div style="grid-column: 1">Test Ping Websocket</div>
    <div><button onclick="togglePingWebsocket('{{ ping_socket_url }}'); return false;">Toggle</button></div>
    <div id="ping_status"></div>
    <div id="ping_counter"></div>
    <div id="ping_timestamp"></div>
    <div style="grid-column: 1">Test Celery Websocket</div>
    {% if not TRACKER_HAS_CELERY %}
      <div>Celery Not Configured</div>
    {% else %}
      <div>
        <button onclick="sendTestCeleryTask('{{ celery_socket_url }}'); return false;">Queue Test Task</button>
      </div>
      <div id="celery_status"></div>
      <div id="celery_result"></div>
    {% endif %}
    <div style="grid-column: 1">Test Email</div>
    <div>
      <form method="post">
        {% csrf_token %}
        {{ test_email_form.as_p }}
        <button>Submit</button>
      </form>
    </div>
    <div style="grid-column: 1">Secure Request</div>
    <div>{{ is_secure }}</div>
    <div>(Does Django think the request is secure?)</div>
    <div style="grid-column: 1">Storage Works</div>
    <div>{{ storage_works }}</div>
    <div>(Was Django able to save, read, and delete a test file?)</div>
    {% if prize_storage_works != 'default' %}
      <div style="grid-column: 1">Prize Storage Works</div>
      <div>{{ prize_storage_works }}</div>
      <div>(Was Django able to save, read, and delete a test file on the prize storage?)</div>
    {% endif %}
  </div>
{% endblock %}
