# base
celery==5.6.2
channels==4.3.2
setuptools
wheel
# django explicitly not listed here because azure installs a particular series immediately after
django-ical==1.9.2
django-paypal==1.1.2
django-mptt==0.18.0
django-post-office==3.11.0
django-timezone-field==7.2.1
djangorestframework==3.16.1
pre-commit==4.5.1
python-dateutil==2.8.2 ; python_version<"3.11"
babel==2.17.0
# only for testing
daphne==4.2.1
msgpack==1.1.2
responses~=0.25.8
selenium==4.40.0
tblib==3.2.2
tqdm==4.67.2
unittest-xml-reporting==4.0.0
