{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Bid Detail" %} -- {{ event.name|title }}{% endblock %}

{% block content %}
	<h2>
		{% if bid.speedrun %}

			{% trans "Game" %}:

		{{ bid.speedrun|title }}
    {% else %}
			{% trans "Event" %}:
		{{ bid.event|title }}
    {% endif %}
	</br>
	<small>
			{% trans "Bid" %}:
		{{ bid.name|title }}
			{% trans "Total" %}:
		{{ bid.total|money }}
		{% if bid.goal %}
				{% trans "Goal" %}:
			{{ bid.goal|money }}
		{% endif %}
	</small>
	</h2>

  {% if ancestors.exists %}
    <table class="table table-condensed table-striped small">
      <thead><tr>
        <th align="center" colspan="5">
          <b>
            {% trans "Owners" %}
          </b>
        </th>
      </tr>
      {% for ancestor in ancestors %}
        <tr class="small">
          <td colspan="5">
            <a href="{% url 'tracker.views.bid' id=ancestor.id %}">
              {{ ancestor.name | title }}
            </a>
          </td>
        </tr>
      {% endfor %}
	</thead>
    </table>
  {% endif %}

	{% if bid.description|length > 0 %}
    <table class="table table-condensed table-striped small">
	<thead>
      <tr>
        <th align="center" colspan="5">
          <b>
            {% trans "Description" %}
          </b>
        </th>
      </tr>
      <tr class="small">
        <td colspan="5">
          {{ bid.description|forumfilter }}
        </td>
      </tr>
	</thead>
    </table>
	{% endif %}

  {% if bid.options.exists %}

    {% bid_short bid showRun=False showEvent=False showOptions=True showMain=False addTable=False %}

  {% elif bid.istarget %}
    <table class="table table-condensed table-striped small">
      <thead>
	<tr>
        <th {% if not perms.tracker.view_emails %}colspan="2"{% endif %}>
          {% trans "Name" %}{% sort "name" %}
        </th>
        {% if perms.tracker.view_emails %}
          <th>
            {% trans "Email" %}
          </th>
        {% endif %}
        <th>
          {% trans "Time Received" %}{% sort "time" %}
        </th>
        <th>
          {% trans "Amount" %}{% sort "amount" %}
        </th>
      </tr>
	</thead>
      {% for donationBid in donationBids %}
        <tr class="small">
          <td {% if not perms.tracker.view_emails %}colspan="2"{% endif %}>
            <a href="{% url 'tracker.views.donor' id=donationBid.donation.donor.id event=event.short %}">
              {% name donationBid.donation.donor %}
            </a>
          </td>
          {% email donationBid.donation.donor.email "<td>.</td>" %}
          <td>
            {% datetime donationBid.donation.timereceived %}
          </td>
          <td>
            <a href="{% url 'tracker.views.donation' id=donationBid.donation.id %}">{{ donationBid.amount|money }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

	<p align="center">
		<a href="{% url 'tracker.views.bidindex' event=event.short %}">
			{% trans "Back to Bid Index" %}
		</a>
	</p>
	{% include "tracker/navfooter.html" %}
{% endblock %}
