{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Bid Index" %} &mdash; {{ event.name|title }}{% endblock %}

{% block content %}
    <div class="fa-stack center-block medium-icon-blue fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
    </div>

    <h2 class="text-center">
        {% trans "Bid Index" %} &mdash; {{ event.name|title }}
        <br/>
        <small>
            {% trans "Total" %}:
            {{ total|money }} &mdash;
            {% trans "Choice Total" %}:
            {{ choiceTotal|money }} &mdash;
            {% trans "Challenge Total" %}:
            {{ challengeTotal|money }}
        </small>
    </h2>

    <table class="table table-condensed table-striped small">
        <thead>
        <tr>
            <th>
                {% trans "Name" %}
            </th>
            <th>
                {% trans "Run" %}
            </th>
            <th>
                {% if not event.id %}
                    {% trans "Event" %}
                {% endif %}
            </th>
            <th>
                {% trans "Description" %}
            </th>
            <th>
                {% trans "Amount" %}
            </th>
            <th>
                {% trans "Goal" %}
            </th>
        </tr>
        </thead>
        {% for bid in bids %}
            {% include 'tracker/partials/option.html' with bid=bid only %}
        {% endfor %}
    </table>

    {% include "tracker/partials/navfooter.html" %}
{% endblock %}
