{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Challenge Index" %} -- {{ event.name|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Event" %}:
		</b>
		{{ event.name|title }}
		<b>
			{% trans "Challenge Index" %}
		</b>
		<b>
			{% trans "Total" %}:
		</b>
		{{ agg.amount|money }}
	</div>
	<!-- This is awful, and need to be properly styled, but its a start at least -->
	<br />
	<div>
		<form method="get">
			{{ searchForm.as_p }}
			<input type="submit" value="Search" />
		</form>
	</div>
	<table>
		<tr>
			{% if not event.id %}
			<th>
				{% trans "Event" %}
			</th>
			{% endif %}
			<th>
				{% trans "Game" %}
			</th>
			<th>
				{% trans "Challenge" %}
			</th>
			<th>
				{% trans "Goal" %}
			</th>
			<th>
				{% trans "Amount" %}
			</th>
		</tr>
	{% for challenge in challenges %}
		{% ifchanged challenge.speedrun.name %}{% if forloop.counter > 1 %}
		<tr><th colspan="{{ event.id|yesno:'4,5' }}"></th></tr>
		{% endif %}{% endifchanged %}
		<tr>
			{% if not event.id %}
			<td>
				<a href="{% url 'tracker.views.challengeindex' event=challenge.speedrun.event.id %}">{{ challenge.speedrun.event }}</a>
			</td>
			{% endif %}
			<td>
				<a href="{% url 'tracker.views.run' id=challenge.speedrun.id %}">{{ challenge.speedrun|title }}</a>
			</td>
			<td>
				<a href="{% url 'tracker.views.challenge' id=challenge.id %}">{{ challenge.name|title }}</a>
			</td>
			<td>
				{{ challenge.goal|money }}
			</td>
			<td>
				{{ challenge.amount|money }} ({{ challenge.count }})
			</td>
		</tr>
	{% endfor %}
	</table>
	{% include "tracker/navfooter.html" %}
{% endblock %}
