{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Choice Option Detail" %} -- {{ event.name|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Run" %}:
		</b>
		<a href="{% url 'tracker.views.run' id=choiceoption.choice.speedrun.id %}">{{ choiceoption.choice.speedrun|title }}</a>
		<b>
			{% trans "Choice" %}:
		</b>
		<a href="{% url 'tracker.views.choice' id=choiceoption.choice.id %}">{{ choiceoption.choice.name|title }}</a>
		<b>
			{% trans "Option" %}:
		</b>
		{{ choiceoption.name }}
		<b>
			{% trans "Total" %}:
		</b>
		{{ agg.amount|money }}
	</div>
	<table>
		<tr>
			<th {% if not perms.tracker.view_emails %}colspan="2"{% endif %}>
				{% trans "Name" %}{% sort "name" %}
			</th>
			{% if perms.tracker.view_emails %}
				<th>
					{% trans "Email" %}
				</th>
			{% endif %}
			<th>
				{% trans "Time Received" %}{% sort "time" %}
			</th>
			<th>
				{% trans "Amount" %}{% sort "amount" %}
			</th>
		</tr>
	{% for bid in bids %}
		<tr>
			<td {% if not perms.tracker.view_emails %}colspan="2"{% endif %}>
				<a href="{% url 'tracker.views.donor' id=bid.donation.donor.id event=choiceoption.choice.speedrun.event.id %}">
					{% name bid.donation.donor %}
				</a>
			</td>
			{% email bid.donation.donor.email "<td>.</td>" %}
			<td>
				{{ bid.donation.timereceived }}
			</td>
			<td>
				<a href="{% url 'tracker.views.donation' id=bid.donation.id %}">
					{{ bid.amount|money }}
				</a>
			</td>
		</tr>
		{% if comments %}
			{% if bid.donation.comment|length %}
			<tr>
				<td colspan="4">
					{% with bid.donation.comment as comment %}{% with bid.donation.commentstate as state %}
						{% include "tracker/comment.html" %}
					{% endwith %}{% endwith %}
				</td>
			</tr>
			{% endif %}

			{% if forloop.counter < bids|length %}
				<tr><th colspan="4"></th></tr>
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>
	<p align="center"><a href="{% url 'tracker.views.choiceoption' id=choiceoption.id %}{{ comments|yesno:',?comments' }}">
	{% include "tracker/commentslink.html" %}
	</a></p>
	<p align="center"><a href="{% url 'tracker.views.choiceindex' event=choiceoption.choice.speedrun.event.id %}">{% trans "Back to Choice Index" %}</a></p>
	{% include "tracker/navfooter.html" %}
{% endblock %}
