{% extends "base.html" %}
{% load i18n %}

{% load donation_tags %}

{% block title %}
  Tracker Registration Confirmation
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
  {% if not formuser %}
    <p> ERROR: No such user exists.</p>
  {% elif formuser.is_active == True %}
    <p> ERROR: User account is already active.</p>
  {% elif not tokenmatches %}
    <p> ERROR: You must provide a valid auth token.</p>
  {% else %}
    <p>Please set your username and password.</p>
    {% standardform form "form" "Submit" %}
  {% endif %}
{% endblock %}

