{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Donation Detail" %} -- {{ event.name|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Name" %}:
		</b>
		<a href="{% url 'tracker.views.donor' id=donor.id event=donation.event.id %}">{% name donation.donor %}</a> {% email donation.donor.email "(.)" %}
		<b>
			{% trans "Time Received" %}:
		</b>
		{% datetime donation.timereceived %}
		<b>
			{% trans "Amount" %}:
		</b>
		{{ donation.amount|money }}
	</div>
	{% if donation.comment %}
	<table>
		<tr>
			<th align="center">
				<b>
					{% trans "Comment" %}
				</b>
			</th>
		</tr>
		<tr>
			<td class="{{ commentstate }}">
				{% with donation.comment as comment %}{% with donation.commentstate as state %}
					{% include "tracker/comment.html" %}
				{% endwith %}{% endwith %}
			</td>
		</tr>
	</table>
	{% endif %}
  
	{% if donationbids %}
    <div class="header">
      <a href="{% url 'tracker.views.bidindex' event=donation.event.id %}">{% trans "Donation Bids" %}</a>
    </div>
    <table>
      <tr>
        <th>
          {% trans "Run" %}
        </th>
        <th>
          {% trans "Name" %}
        </th>
        <th>
          {% trans "Amount" %}
        </th>
      </tr>
    {% for bid in donationbids %}
      <tr>
        <td>
          {% if bid.bid.speedrun %}
          <a href="{% url 'tracker.views.run' id=bid.bid.speedrun.id %}">{{ bid.bid.speedrun.name|title }}</a>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'tracker.views.bid' id=bid.bid.id %}">{{ bid.bid.fullname }}</a>
        </td>
        <td>
          {{ bid.amount|money }}
        </td>
      </tr>
    {% endfor %}
    </table>
	{% endif %}

	{% if perms.tracker.view_emails %}<p class="center">{% trans "Donation Source" %}: {{ donation.domain|title }}</p>{% endif %}
	<p align="center"><a href="{% url 'tracker.views.donationindex' event=donation.event.id %}">{% trans "Back to Donation Index" %}</a></p>
	{% include "tracker/navfooter.html" %}
{% endblock %}
