{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}
        {{ event.name|title }} -- Already Edited
{% endblock %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}queueindex.css" />

{% endblock %}

{% block content %}

The information you entered for editing this donation is correct, however it seems that this donation has already been edited.  For various reasons, we do not allow users to set their comment/bids more than once.  If you would like to change something else about your donation, please PM ... well, I guess we'll have to enter the contact instructions as a field on the event object, (i.e. PM SDAMarathon on quakenet IRC) with the paypal email, transaction ID, and amount, and we'll see what we can do for you.

Thank you again for supporting this event.

{% endblock %}

