{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}
        Donation Edit
{% endblock %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}queueindex.css" />

{% endblock %}

{% block content %}

In order to allow you to edit your donation, we will need 3 pieces of information from you: the paypal address you used to donate, the amount in US Dollars, and the transaction ID (you should have received an email from paypal containing this, it will be a random sequence of numbers and letters). 

<br />

<form action="{% url 'tracker.views.donation_edit_auth' %}" method="post">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {{ form.non_field_errors }}
  {% for field in form.visible_fields %}
    <div>
      {{ field.errors }}
      {{ field.label_tag }}: {{ field }}
    </div>
  {% endfor %}
  <p><input type="submit" value="Edit" /></p>
</form>

{% endblock %}

