{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Donation Detail" %} -- {{ event.name|title }}{% endblock %}

{% block content %}

	<h2 class="text-center">

		<a href="{% url 'tracker.views.donor' id=donor.id event=donation.event.short %}">{% name donation.donor %}</a> {% email donation.donor.email "(.)" %}
		<br />
			{% trans "Time Received" %}:
		{% datetime donation.timereceived %}
		&mdash;
			{% trans "Amount" %}:
		{{ donation.amount|money }}
	</h2>
	{% if donation.comment %}
	<table class="table table-condensed">
	<thead>
		<tr>
			<th align="center">
				<b>
					{% trans "Comment" %}
				</b>
			</th>
		</tr>
	</thead>
		<tr>
			<td class="{{ commentstate }}">
				{% with donation.comment as comment %}{% with donation.commentstate as state %}
					{% include "tracker/comment.html" %}
				{% endwith %}{% endwith %}
			</td>
		</tr>
	</table>
	{% endif %}

	{% if donationbids %}
    <h3>
      <a href="{% url 'tracker.views.bidindex' event=donation.event.short %}">{% trans "Donation Bids" %}</a>
    </h3>
    <table class="table table-condensed table-striped small>
	<thead>
      <tr>
        <th>
          {% trans "Run" %}
        </th>
        <th>
          {% trans "Name" %}
        </th>
        <th>
          {% trans "Amount" %}
        </th>
      </tr>
	</thead>
    {% for bid in donationbids %}
      <tr class="small">
        <td>
          {% if bid.bid.speedrun %}
          <a href="{% url 'tracker.views.run' id=bid.bid.speedrun.id %}">{{ bid.bid.speedrun.name_with_category|title }}</a>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'tracker.views.bid' id=bid.bid.id %}">{{ bid.bid.fullname }}</a>
        </td>
        <td>
          {{ bid.amount|money }}
        </td>
      </tr>
    {% endfor %}
    </table>
	{% endif %}

	{% if perms.tracker.view_emails %}<p class="center">{% trans "Donation Source" %}: {{ donation.domain|title }}</p>{% endif %}
	<p align="center"><a href="{% url 'tracker.views.donationindex' event=donation.event.short %}">{% trans "Back to Donation Index" %}</a></p>
	{% include "tracker/navfooter.html" %}
{% endblock %}
