{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Donor Detail" %} -- {{ event.name|title }}{% endblock %}

{% block content %}
	<h2 class="text-center">
		{% name donor %}
		{% if perms.tracker.view_emails %}
				{% trans "Email" %}:
			{% email donor.email %}
		{% endif %}<br />
		<small>
			{% trans "Total Donations" %}:
		{{ donor.donation_total|money }} ({{ donor.donation_count }})
&mdash;
			{% trans "Max/Avg Donation" %}:
		{{ donor.donation_max|money }}/{{ donor.donation_avg|money }}
		</small>
	</h2>
	<table  class="table table-condensed table-striped small">
		<thead>
		<tr>
			<th>
				{% trans "Time Received" %}
			</th>
			<th>
				{% trans "Amount" %}
			</th>
			<th>
				{% trans "Comment" %}
			</th>
		</tr>
		</thead>
	{% for donation in donations %}
		<tr class="small">
			<td>
				{% datetime donation.timereceived %}
			</td>
			<td>
				<a href="{% url 'tracker.views.donation' id=donation.id %}">{{ donation.amount|money }}</a>
			</td>
			<td>
				{{ donation.comment|length|yesno:_("Yes,No") }}
			</td>
		</tr>
		{% if comments %}
			{% if donation.comment|length %}
			<tr class="small">
				<td colspan="3">
					{% with donation.comment as comment %}{% with donation.commentstate as state %}
						{% include "tracker/comment.html" %}
					{% endwith %}{% endwith %}
				</td>
			</tr>
			{% endif %}

			{% if forloop.counter < donations|length %}
			<tr class="small"><th colspan="3"></th></tr>
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>

	<p align="center"><a href="{% url 'tracker.views.donor' id=donor.donor_id event=event.short %}{{ comments|yesno:',?comments' }}">
	{% include "tracker/commentslink.html" %}
	</a></p>

  {% if donor.runneryoutube != None or donor.runnertwitch != None or donor.runnertwitter != None %}
    <table>
      <tr><th colspan="2">Runner Information</th></tr>
      {% if donor.runneryoutube != None %}
        <tr>
          <td>
            Youtube
          </td>
          <td>
            <a href="http://www.youtube.com/{{ donor.runneryoutube }}">{{ donor.runneryoutube }}</a>
          </td>
        </tr>
      {% endif %}
      {% if donor.runnertwitch != None %}
        <tr>
          <td>
            Twitch
          </td>
          <td>
            <a href="http://www.twitch.tv/{{ donor.runnertwitch }}">{{ donor.runnertwitch }}</a>
          </td>
        </tr>
      {% endif %}
      {% if donor.runnertwitter != None %}
        <tr>
          <td>
            Twitter
          </td>
          <td>
            <a href="http://www.twitter.com/{{ donor.runnertwitter }}">{{ donor.runnertwitter }}</a>
          </td>
        </tr>
      {% endif %}
    </table>
  {% endif %}

	<p align="center"><a href="{% url 'tracker.views.donorindex' event=event.short %}">{% trans "Back to Donor Index" %}</a></p>
	{% include "tracker/navfooter.html" %}
{% endblock %}
