{% extends prepend|add:"tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Donor Detail" %} -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Name" %}:
		</b> 
		{% name donor %}
		{% if perms.tracker.view_emails %}
			<b>
				{% trans "Email" %}:
			</b> 
			{% email donor.email %}
		{% endif %}
		{% if donor.alias %}
			<b>
				{% trans "Alias" %}:
			</b>
			{{ donor.alias }} 
		{% endif %}
		<b>
			{% trans "Total Donations" %}:
		</b> 
		{{ agg.amount|money }} ({{ agg.count }}) 
		<b>
			{% trans "Max/Avg Donation" %}:
		</b> 
		{{ agg.max|money }}/{{ agg.avg|money }}
	</div>
	<table>
		<tr class="header">
			<td>
				{% trans "Time Received" %}
			</td>
			<td>
				{% trans "Amount" %}
			</td>
			<td>
				{% trans "Comment" %}
			</td>
		</tr>
	{% for donation in donations %}
		<tr>
			<td>
				{{ donation.timereceived }}
			</td>
			<td>
				<a href="{% url 'tracker.views.donation' id=donation.id %}">{{ donation.amount|money }}</a>
			</td>
			<td>
				{{ donation.comment|length|yesno:_("Yes,No") }}
			</td>
		</tr>
		{% if comments %}
			{% if donation.comment|length %}
			<tr>
				<td colspan="3">
					{% with donation.comment as comment %}{% with donation.commentstate as state %}
						{% include prepend|add:"tracker/comment.html" %} 
					{% endwith %}{% endwith %}
				</td>
			</tr>
			{% endif %}
		
			{% if forloop.counter < donations|length %}
			<tr class="header"><td colspan="3"></td></tr>
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>
	
	<p><a href="{% url 'tracker.views.donor' id=donor.id %}{{ comments|yesno:',?comments' }}">
	{% include prepend|add:"tracker/commentslink.html" %}
	</a></p>

	<p><a href="{% url 'tracker.views.donorindex' %}">{% trans "Back to Donor Index" %}</a></p>
	{% include prepend|add:"tracker/navfooter.html" %}
{% endblock %}
