{% extends "tracker/index.html" %}
{% load i18n %}


{% block title %}{% trans "Event List" %}{% endblock %}

{% block content %}

	<h2 class="text-center">
		{% trans "Event List" %}
	</h2>

	<div class="col-xs-4 col-xs-offset-4" style="margin-top: 30px;">
		<div class="list-group center-block">
			<a href="{% url 'tracker.views.index' event='' %}" class="list-group-item">{% trans "All Events" %}</a>
			{% for event in events %}
				<a href="{% url 'tracker.views.index' event=event.short %}" class="list-group-item">{{ event.name }}</a>
			{% endfor %}
		</div>
	</div>


	<div class="col-xs-12">
		{% include "tracker/navfooter.html" %}
	</div>

{% endblock %}
