{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}
	{{ event.name|title }} -- {% trans "Index" %}
{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}queueindex.css" />
{% endblock %}

{% block content %}
<div class="title">
	<b>
		{% trans "Event" %}:
	</b>
	{{ event.name|title }}
	<b>
		{% trans "Donation Total" %}:
	</b>
	{{ agg.amount|money }} ({{ agg.count }})
	<b>
		{% trans "Max/Avg Donation" %}:
	</b>
	{{ agg.max|money }}/{{ agg.avg|money }}
</div>
<p align="center"><br /></p>
<p align="center"><a href="{% url 'tracker.views.runindex' event=event.id %}">{% trans "View Runs" %}</a> ({{ count.runs }})</p>
<p align="center"><a href="{% url 'tracker.views.prizeindex' event=event.id %}">{% trans "View Prizes" %}</a> ({{ count.prizes }})</p>
<p align="center"><a href="{% url 'tracker.views.challengeindex' event=event.id %}">{% trans "View Challenges" %}</a> ({{ count.challenges }})</p>
<p align="center"><a href="{% url 'tracker.views.choiceindex' event=event.id %}">{% trans "View Choices" %}</a> ({{ count.choices }})</p>
<p align="center"><a href="{% url 'tracker.views.donorindex' event=event.id %}">{% trans "View Donors" %}</a> ({{ count.donors }})</p>
<p align="center"><a href="{% url 'tracker.views.donationindex' event=event.id %}">{% trans "View Donations" %}</a> ({{ agg.count }})</p>
<p align="center"><a href="{% url 'tracker.views.eventlist' %}">{% trans "Select another Event" %}</a></p>
<br />
{% if event.id %}
	<h2 align="center"><a href="{% url 'tracker.views.donate' event.id %}">Donate</a></h2>
{% endif %}
{% endblock %}

{% block cssfooter %}

{% endblock %}


{% block login %}
{% include "tracker/language.html" %}
{% endblock %}

{% block rendertime %}
{% if perms.tracker.show_rendertime %}
<p align="center">
{% rendertime starttime %}
</p>
{% endif %}
{% endblock %}
