{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Prize Index" %} -- {{ event.name|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Event" %}:
		</b>
		{{ event.name|title }}
		<b>
			{% trans "Prize Index" %}
		</b>
	</div>
	<table>
		<tr>
			<th>
				{% trans "Name" %}
			</th>
      <th>
        {% trans "Contributed By" %}
      </th>
			<th>
				{% trans "Minimum Bid" %}
			</th>
			<th>
				{% trans "Games" %}
			</th>
			<th>
				{% trans "Category" %}
			</th>
			<th>
				{% trans "Image" %}
			</th>
			<th>
				{% trans "Winner" %}
			</th>
		</tr>
	{% for prize in prizes %}
		<tr>
			<td>
				<a href="{% url 'tracker.views.prize' id=prize.id %}">
					{{ prize.name|title }}
				</a>
			</td>
      <td>
      {{ prize.provided }}
      </td>
			<td>
				{{ prize.minimumbid|money }}
			</td>
			<td>
				{% if prize.startrun %}
					<a href="{% url 'tracker.views.run' id=prize.startrun.id %}">
						{{ prize.startrun.name|title }}
					</a>
				{% endif %}
				{% if prize.startrun != prize.endrun %}
					&lt;-&gt;
					<a href="{% url 'tracker.views.run' id=prize.endrun.id %}">
						{{ prize.endrun.name|title }}
					</a>
				{% endif %}
			</td>
			<td>
				{{ prize.category }}
			</td>
			<td>
				{% if prize.image %}<a href="{{ prize.image }}">{% trans "Link" %}</a>{% else %}{% trans "None" %}{% endif %}
				{% if prize.imagefile %}<a href="{{ prize.imagefile.url }}">{% trans "Link" %}</a>{% else %}{% trans "None" %}{% endif %}
			</td>
			<td>
				{% if prize.get_winners %}
					{% for winner in prize.get_winners %}
						{% if not forloop.first %}; {% endif %}
						<a href="{% url 'tracker.views.donor' id=winner.id  event=prize.event.id%}">
						  {% name winner %}
						</a>
					{% endfor %}
				{% else %}
					{% trans "None" %}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
	{% include "tracker/navfooter.html" %}
{% endblock %}
