{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Prize Detail" %} -- {{ event.name|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Prize" %}:
		</b>
		{{ prize.name|title }}
		<b>
			{% trans "Minimum Bid" %}:
		</b>
		{{ prize.minimumbid|money }}
		{% if category %}
		<b>
			{% trans "Category" %}:
		</b>
			{{ category }}
		{% endif %}
		{% if prize.image %}
		<b>
			{% trans "Image" %}:
		</b>
		<a href="{{ prize.image }}">{% trans "Link" %}</a>
		{% endif %}
	</div>
  {% if prize.get_winners %}
    <table>
      <th>
        {% trans "Winner(s)" %}
      </th>
      {% for winner in prize.get_winners %}
        <tr>
          <td>
            <a href="{% url 'tracker.views.donor' id=winner.id event=event.id %}">
              {% name winner %}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if prize.provider and prize.provider|public_user_name != 'Anonymous' %}
		<table>
      <th>
        {% trans "Contributed By" %}
      </th>
      <tr>
        <td>
           {{ prize.provided|public_user_name }}
        </td>
      </tr>
    </table>
    {% endif %}
	{% if games %}
	<table>
		<tr>
			<th align="center">
				{% trans "Games" %}
			</th>
		</tr>
		{% for game in games %}
		<tr>
			<td>
				<a href="{% url 'tracker.views.run' id=game.id %}">
					{{ game.name|title }}
				</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
  {% if prize.description %}
	<table>
		<tr>
			<th align="center">
				<b>
					{% trans "Description" %}
				</b>
			</th>
		</tr>
		<tr>
			<td>
				{{ prize.description|forumfilter }}
			</td>
		</tr>
	</table>
  {% endif %}
	<p align="center"><a href="{% url 'tracker.views.prizeindex' event=prize.event.id %}">{% trans "Back to Prize Index" %}</a></p>
	{% include "tracker/navfooter.html" %}
{% endblock %}
