{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}
    Registration
{% endblock %}

{% block content %}

{% if message %}<p><h3>{{ message }}</h3></p>{% endif %}

<p>
If you already have an account you can <a href="{% url 'login' %}">log in</a>. If you need to reset your password, please use <a href="{% url 'password_reset' %}">this</a> form.
</p>

<p>
Please enter your e-mail address. We will send you a registration link as soon as we can.
{% standardform form "registerform" "Send Email" %}
</p>

{% endblock %}
