{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Run Detail" %} -- {{ event.name }}{% endblock %}

{% block content %}
	<h2 class="text-center">
		{{ run.name_with_category }}
	</h2>

  {% if run.description %}
	<h3 class="text-gdq-black">{% trans "Description" %}</h3>

	<table class="table table-condensed table-striped small">

		<tr class="small">
			<td>
				{{ run.description|forumfilter }}
			</td>
		</tr>
	</table>
  {% endif %}

  {% if run.deprecated_runners %}
  <h3  class="text-gdq-black">
    {% trans "Runners" %}
	</h3>
  <table  class="table table-condensed table-striped small">
        <tr>
          <td>
	    {{ run.deprecated_runners }}
          </td>
        </tr>

	</table>
  {% endif %}

  {% if bids %}
    <h3 class="text-gdq-black">
      {% trans "Bids" %}
    </h3>
    <table  class="table table-condensed table-striped small">
	<thead>
      <tr>
        <th colspan="3">
          {% trans "Name" %}
        </th>
        <th>
          {% trans "Description" %}
        </th>
        <th>
          {% trans "Amount" %}
        </th>
        <th>
          {% trans "Goal" %}
        </th>
      </tr>
	</thead>
      {% for bid in bids %}
		{% bid_short bid showRun=True showEvent=event.id|negate showOptions=True addTable=False %}
      {% endfor %}
    </table>
	{% endif %}
	<p align="center"><a href="{% url 'tracker.views.runindex' event=event.short %}">{% trans "Back to Run Index" %}</a></p>
	{% include "tracker/navfooter.html" %}
{% endblock %}
