{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Run Detail" %} -- {{ event.name|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Run" %}:
		</b>
		{{ run.name|title }}
	</div>
	<table>
		<tr>
			<th align="center">
				<b>
					{% trans "Description" %}
				</b>
			</th>
		</tr>
		<tr>
			<td>
				{{ run.description|forumfilter }}
			</td>
		</tr>
	</table>
  {% if runners %}
  <div class="header">
    {% trans "Runners" %}
	</div>
  <table>
	{% for runner in runners %}
		<tr>
			<td>
				<a href="{% url 'tracker.views.donor' id=runner.id event=run.event.id %}">{% name runner %}</a>
			</td>
		</tr>
	{% endfor %}
	</table>
  {% endif %}
	{% if challenges %}
	<div class="header">
		{% trans "Challenges" %}
	</div>
	<table>
		<tr>
			<th>
				{% trans "Name" %}
			</th>
			<th>
				{% trans "Goal" %}
			</th>
			<th>
				{% trans "Amount" %}
			</th>
		</tr>
	{% for challenge in challenges %}
		<tr>
			<td>
				<a href="{% url 'tracker.views.challenge' id=challenge.id %}">{{ challenge.name }}</a>
			</td>
			<td>
				{{ challenge.goal|money }}
			</td>
			<td>
				{{ challenge.amount|money }} ({{ challenge.count }})
			</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	{% if choices %}
	<div class="header">
		{% trans "Choices" %}
	</div>
	<table>
		<tr>
			<th>
				{% trans "Name" %}
			</th>
			<th>
				{% trans "Option" %}
			</th>
			<th>
				{% trans "Amount" %}
			</th>
		</tr>
	{% for choice in choices %}
		{% ifchanged choice.name %}{% if forloop.counter > 1 %}
		<tr><th colspan="3"></td></tr>
		{% endif %}{% endifchanged %}
		<tr>
			<td>
				<a href="{% url 'tracker.views.choice' id=choice.id %}">{{ choice.name|title }}</a>
			</td>
			<td>
				{% if choice.optionname %}<a href="{% url 'tracker.views.choiceoption' id=choice.optionid %}">{{ choice.optionname }}</a>{% endif %}
			</td>
			<td>
				{{ choice.amount|money }} ({{ choice.count }})
			</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	<p align="center"><a href="{% url 'tracker.views.runindex' event=event.id %}">{% trans "Back to Run Index" %}</a></p>
	{% include "tracker/navfooter.html" %}
{% endblock %}
