{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Run Index" %} -- {{ event.name }}{% endblock %}

{% block content %}
<div class="fa-stack center-block medium-icon-blue fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
        </div>
	<h2 class="text-center">
			{% trans "Run Index" %}
		&mdash;
		{{ event.name }}
	</h2>
	<table class="table table-striped table-condensed small">
	<thead>
		<tr>
			<th>
				{% trans "Name" %}
			</th>
			<th>
				{% trans "Players" %}
			</th>
			<th>
				{% trans "Description" %}
			</th>
			<th>
				{% trans "Start Time" %}
			</th>
			<th>
				{% trans "End Time" %}
			</th>
			<th>
				{% trans "Bid Wars" %}
			</th>
		</tr>
	</thead>
	{% for run in runs %}
		<tr class="small">
			<td>
				<a href="{% url 'tracker.views.run' id=run.id %}">{{ run.name_with_category|title }}</a>
			</td>
			<td>
				{{ run.deprecated_runners }}
			</td>
			<td>
				{{ run.description|forumfilter }}
			</td>
			<td>
				{% datetime run.starttime %}
			</td>
			<td>
				{% datetime run.endtime %}
			</td>
			{% autoescape off %}
			<td>
				{% if run.hasbids %}<b>{% trans "Yes" %}</b>{% else %}{% trans "No" %}{% endif %}
			</td>
			{% endautoescape %}
		</tr>
	{% endfor %}
	</table>
	{% include "tracker/navfooter.html" %}
{% endblock %}
