{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}
        {{ event.name|title }} -- Submit Prize
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}donate.css" />

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  
{% endblock %}

{% block content %}

<div id="container">

		<h1>Prize Submissions for {{event.name}}</h1>
		<p>This is the prize submission form for {{event.name}}. Please fill out all the information below as accurately as possible. Note that we may not accept all prize submissions, so please check your email for updates on your prize submission. </p>
		<br />
    
    <span style="color:red">
      * Required
    </span>
    
    <br />
    <br />

<form id="bidsform" action="{% url 'tracker.views.submit_prize' event.id %}" method="post">
  {% csrf_token %}
  
  {% for field in form.visible_fields %}
    
    {{ field.label_tag }} {% if field.field.required %} <span style="color:red">*</span> {% endif %}
    {% if field.errors %}
    <span style="color:red">
      {{ field.errors }}
    </span>
    {% endif %}
    <br />
    <small>{{ field.help_text }}</small>
    <br />
    {{ field }}
    <br />
    <br />
  {% endfor %}
  
  <p><input type="submit" value="Submit" /></p>
</form>

</div>

{% endblock %}