{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Self Service" %}{% endblock %}

{% block content %}

<h3>Self Service Options</h3>

{% for eventInfo in eventList %}

  <h5>{{ eventInfo.eventname }}</h5>
  <ul>
  {% if eventInfo.submission %}
    <li><a href="{% url 'tracker.views.submit_prize' event=eventInfo.eventid %}">Submit prize for {{ eventInfo.eventname }}</a></li>
  {% endif %}
  
  {% if eventInfo.prizes %}
    <li> Prizes you've submitted:
      <ul>
      {% for prize in eventInfo.prizes %}
        <li><a href="{% url 'tracker.views.user_prize' prize=prize.id %}">{{ prize.name }}</a></li>
      {% endfor %}
      </ul>
    </li>
  {% endif %}
  
  {% if eventInfo.prizewins %}
    <li> Prizes you've won:
      <ul>
      {% for prizeWin in eventInfo.prizewins %}
        <li><a href="{% url 'tracker.views.user_prize' prize=prizeWin.prize.id %}">{{ prizeWin.prize.name }}</a> {% if prizeWin.pendingcount > 0 %}<small>(pending acceptance)</small>{% endif %}</li>
      {% endfor %}
      </ul>
    </li>
  {% endif %}
  
  </ul>

{% endfor %}

<a href="{% url 'tracker.views.logout' %}">Log Out</a>

{% endblock %}
