{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    {{ admin.main.js|safe }}
    {{ admin.main.css|safe }}
    <script type="text/javascript">
    <!--
        window.API_ROOT = '{% url 'tracker:api_v1' %}';
        window.ROOT_PATH = '{% url 'tracker_ui:index' %}';
        window.STATIC_URL = '{% static '' %}';
    -->
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
{% endblock %}

{% block content %}
    <div id="container"></div>
{% endblock %}
