{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ event.name|title }}{% if title %} -- {{ title }}{% endif %}
{% endblock %}

{% block head %}
    {{ bundle.js|safe }}
    {{ bundle.css|safe }}
    <script type="text/javascript">
      <!--
      window.API_ROOT = '{% url 'tracker:api_v1' %}';
      window.ROOT_PATH = '{{ root_path }}';
      window.STATIC_URL = '{% static '' %}';
      window.APP_NAME = 'tracker';
      -->
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <script type='text/javascript'>
      <!--
      document.addEventListener("DOMContentLoaded", function () {
        window.{{ app }}(
          Object.assign(
            {{ props }},
            {
              formErrors: {{ form_errors }},
              csrfToken: document.querySelector('input[name=csrfmiddlewaretoken]').value,
            }
          )
        );
      });
      -->
    </script>

{% endblock %}

{% block content %}
    <form>
        {% csrf_token %}
    </form>
    <div style='display: none'>
        {% for key, form in forms.items %}
            {% if form %}
                {% if form.management_form %}
                    <table data-form='{{ key }}' data-form-type='management'>{{ form.management_form }}</table>
                {% else %}
                    <table data-form='{{ key }}'>{{ form }}</table>
                {% endif %}
                {% if form.empty_form %}<table data-form='{{ key }}' data-form-type='empty'>{{ form.empty_form }}</table>{% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div id="container"></div>
{% endblock %}
