.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 16px;
}

.bid {
  flex: 1 1 240px;
  border-radius: 4px;
  border: var(--border-primary);
  padding: 8px;
  position: relative;

  &:hover {
    & .removeContainer {
      visibility: visible;
    }
  }
}

.removeContainer {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
