{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Base Title{% endblock %}</title>

  <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"
        integrity="sha384-5L1Zwk1YapN1l4l4rYc+1fr3Z0g23LbCBztpq0LQcbDCelzqgFb96BMCFtDwjq/b"
        crossorigin="anonymous">
  <script type="application/javascript"
          src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
          integrity="sha384-fj9YEHKNa/e0CNquG4NcocjoyMATYo1k2Ff5wGB42C/9AwOlJjDoySPtNJalccfI"
          crossorigin="anonymous"></script>
  <script type="application/javascript"
          src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"
          integrity="sha384-ovZOciNc/R4uUo2fCVS1oDT0vIBuaou1d39yqL4a9xFdZAYDswCgrJ6tF8ShkqzF"
          crossorigin="anonymous"></script>
  <script type="application/javascript"
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
          integrity="sha384-pPttEvTHTuUJ9L2kCoMnNqCRcaMPMVMsWVO+RLaaaYDmfSP5//dP6eKRusbPcqhZ"
          crossorigin="anonymous"></script>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
        integrity="sha384-yNuQMX46Gcak2eQsUzmBYgJ3eBeWYNKhnjyiBqLd1vvtE9kuMtgw6bjwN8J0JauQ"
        crossorigin="anonymous">
  <script type="text/javascript">
    django = {};
    django.jQuery = jQuery;
  </script>

  <script type="application/javascript" src="{% static 'date.format.js' %}"></script>

  <script type="application/javascript">
    $(document).ready(function () {
      // TODO: can this be replaced with something else?
      $(".datetime").each(function () {
        var time = new Date(Date.parse($(this).html().trim()));
        $(this).html(time.format("mmmm dS, yyyy, h:MM:ss TT"));
      });
    });
  </script>

  {% block head %}
  {% endblock %}
</head>
<body>

{% block nav %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if settings.TRACKER_LOGO %}
            <li><a class="navbar-brand" href="/"><img src="{{ settings.TRACKER_LOGO }}" style="height: 100%" alt="Logo"></a>
            </li>
          {% endif %}
          {% if event.short %}
            <li><a href="{% url 'tracker:index' event=event.short %}">{% trans "Home" %}</a></li>{% if not event.draft %}
            <li><a href="{% url 'tracker:runindex' event=event.short %}">{% trans "Runs" %}</a></li>
            {% if settings.TRACKER_SWEEPSTAKES_URL %}
              <li><a href="{% url 'tracker:prizeindex' event=event.short %}">{% trans "Prizes" %}</a></li>
            {% endif %}
            <li><a href="{% url 'tracker:bidindex' event=event.short %}">{% trans "Bids" %}</a></li>
            <li><a href="{% url 'tracker:milestoneindex' event=event.short %}">{% trans "Milestones" %}</a></li>
            {#                        <li><a href="{% url 'tracker:donorindex' event=event.short %}">{% trans "Donors" %}</a></li>#}
            <li><a href="{% url 'tracker:donationindex' event=event.short %}">{% trans "Donations" %}</a></li>
          {% else %}
            <li><a href="{% url 'tracker:runindex' %}">{% trans "Runs" %}</a></li>
              {% if settings.TRACKER_SWEEPSTAKES_URL %}
                <li><a href="{% url 'tracker:prizeindex' %}">{% trans "Prizes" %}</a></li>
              {% endif %}
              <li><a href="{% url 'tracker:bidindex' %}">{% trans "Bids" %}</a></li>
              <li><a href="{% url 'tracker:milestoneindex' %}">{% trans "Milestones" %}</a></li>
              {#                        <li><a href="{% url 'tracker:donorindex' %}">{% trans "Donors" %}</a></li>#}
              <li><a href="{% url 'tracker:donationindex' %}">{% trans "Donations" %}</a></li>
            {% endif %}
          {% else %}
            <li><a href="{% url 'tracker:index_all' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'tracker:runindex' %}">{% trans "Runs" %}</a></li>
            {% if settings.TRACKER_SWEEPSTAKES_URL %}
              <li><a href="{% url 'tracker:prizeindex' %}">{% trans "Prizes" %}</a></li>
            {% endif %}
            <li><a href="{% url 'tracker:bidindex' %}">{% trans "Bids" %}</a></li>
            <li><a href="{% url 'tracker:milestoneindex' %}">{% trans "Milestones" %}</a></li>
            {#                        <li><a href="{% url 'tracker:donorindex' %}">{% trans "Donors" %}</a></li>#}
            <li><a href="{% url 'tracker:donationindex' %}">{% trans "Donations" %}</a></li>
          {% endif %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Events <span class="caret"></span></a>
            <ul class="dropdown-menu small panel-max-height">
              <li><a href="{% url 'tracker:index_all' %}">{% trans "All Events" %}</a></li>
              <li role="separator" class="divider"></li>
              {% for ev in events %}
                <li><a href="{% url 'tracker:index' event=ev.short %}">{{ ev.name }}</a></li>
              {% endfor %}
            </ul>
          </li>

          {% if user and user.is_authenticated %}
            <li><a href="{% url 'tracker:user_index' %}">{% trans "Self Service" %}</a></li>
            <li><a href="{% url 'tracker:logout' %}">{% trans "Log Out" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <br/><br/>
{% endblock %}

<div class="container-fluid">
  {% block statbox %}{% endblock %}
  {% block content %}{% endblock %}
</div>
{% block login %}{% endblock %}
{% block credits %}

    <div class="container-fluid text-center" style="margin-bottom:30px;">
      {% blocktrans  %}
        Running on Django with Python
      {% endblocktrans %}{% if settings.TRACKER_CONTRIBUTORS_URL %}
      <br/>
      <a href="{{ settings.TRACKER_CONTRIBUTORS_URL }}">Contributors</a>
      {% endif %}
    </div>

{% endblock %}
{% block bodyend %}
{% endblock %}
</body>
</html>
