{% extends "donation_tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Challenge Detail" %} -- {{ event.name|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Game" %}:
		</b>
		{{ challenge.speedrun|title }}
		<b>
			{% trans "Challenge" %}:
		</b>
		{{ challenge.name|title }}
		<b>
			{% trans "Total" %}:
		</b>
		{{ agg.amount|money }}
	</div>
	<table>
	{% if challenge.description|length > 0 %}
		<tr>
			<th align="center" colspan="4">
				<b>
					{% trans "Description" %}
				</b>
			</th>
		</tr>
		<tr>
			<td colspan="4">
				{{ challenge.description|forumfilter }}
			</td>
		</tr>
	{% endif %}
		<tr>
			<th {% if not perms.donation_tracker.view_emails %}colspan="2"{% endif %}>
				{% trans "Name" %}{% sort "name" %}
			</th>
			{% if perms.donation_tracker.view_emails %}
				<th>
					{% trans "Email" %}
				</th>
			{% endif %}
			<th>
				{% trans "Time Received" %}{% sort "time" %}
			</th>
			<th>
				{% trans "Amount" %}{% sort "amount" %}
			</th>
		</tr>
	{% for bid in bids %}
		<tr>
			<td {% if not perms.donation_tracker.view_emails %}colspan="2"{% endif %}>
				<a href="{% url 'donation_tracker.views.donor' id=bid.donation.donor.id event=challenge.speedrun.event.id %}">
					{% name bid.donation.donor %}
				</a>
			</td>
			{% email bid.donation.donor.email "<td>.</td>" %}
			<td>
				{% datetime bid.donation.timereceived %}
			</td>
			<td>
				<a href="{% url 'donation_tracker.views.donation' id=bid.donation.id %}">{{ bid.amount|money }}</a>
			</td>
		</tr>
		{% if comments %}
			{% if bid.donation.comment|length %}
			<tr>
				<td colspan="4">
					{% with bid.donation.comment as comment %}{% with bid.donation.commentstate as state %}
						{% include "donation_tracker/comment.html" %}
					{% endwith %}{% endwith %}
				</td>
			</tr>
			{% endif %}

			{% if forloop.counter < bids|length %}
			<tr><th colspan="4"></th></tr>
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>
	<p align="center"><a href="{% url 'donation_tracker.views.challenge' id=challenge.id %}{{ comments|yesno:',?comments' }}">
	{% include "donation_tracker/commentslink.html" %}
	</a></p>
	<p align="center"><a href="{% url 'donation_tracker.views.challengeindex' event=challenge.speedrun.event.id %}">{% trans "Back to Challenge Index" %}</a></p>
	{% include "donation_tracker/navfooter.html" %}
{% endblock %}
