{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}Automail Prize Contributors{% endblock %}

{% block head %}

<link href="{{STATIC_URL}}css/ajax_select.css" type="text/css" media="ajax" rel="stylesheet" />
<script src="{{STATIC_URL}}js/ajax_select.js"></script>
<link href="{{STATIC_URL}}adminprocessing.css" type="text/css" media="ajax" rel="stylesheet" />
<script src="{{STATIC_URL}}adminprocessing.js"></script>

{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

Sent emails for the following prizes: <br />

<ul>
{% for prize in prizes %}
  <li><a href="{% admin_url prize %}">{{ prize }}</a></li>
{% endfor %}
</ul>

{% endblock %}
