{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Automail Prize Accept Notifcations{% endblock %}

{% block head %}

<link href="{% static "css/ajax_select.css" %}" type="text/css" media="ajax" rel="stylesheet" />
<script src="{% static "js/ajax_select.js" %}"></script>
<link href="{% static "adminprocessing.css" %}" type="text/css" media="ajax" rel="stylesheet" />
<script src="{% static "adminprocessing.js" %}"></script>

{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

Sent emails for the following prize accept notifications: <br />

<ul>
{% for prizewinner in prizewinners %}
  <li><a href="{% admin_url prizewinner.prize %}">{{ prizewinner.prize }}:</a> <a href="{% admin_url prizewinner.winner %}">{{ prizewinner.winner }}</a></li>
{% endfor %}
</ul>

{% endblock %}
