{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Completed Bids" %}{% endblock %}

{% block head %}

{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

{% if bids %}

These bids have met their goals: <br />

<table>
    <tr>
      <th colspan="2">
        {% trans "Name" %}
      </th>
      <th>
        {% trans "Run" %}
      </th>
      <th>
        {% trans "Description" %}
      </th>
      <th>
        {% trans "Amount" %}
      </th>
      <th>
        {% trans "Goal" %}
      </th>
    </tr>
    {% for bid in bids %}
      {% include 'tracker/partials/optionstable.html' with bid=bid showRun=True only %}
    {% endfor %}
</table>

<br />

<form method="POST" action="{% url 'admin:show_completed_bids' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Close Bids" />
</form>

{% else %}

No bids need to be closed at this time

{% endif %}

{% endblock %}
