{% extends "base.html" %}
{% load donation_tags %}
{% load staticfiles %}

{% block title %}Process Donations{% endblock %}

{% block nav %}{% endblock %}
{% block head %}

<style>
td {
  padding: 5px;
}
</style>

<link href="{% static "css/ajax_select.css" %}" type="text/css" media="ajax" rel="stylesheet" />
<script src="{% static "js/ajax_select.js" %}"></script>
<link href="{% static "adminprocessing.css" %}" type="text/css" media="ajax" rel="stylesheet" />
<script src="{% static "adminprocessing.js" %}"></script>


<script>

var trackerAPI = new TrackerAPI("{% settings_value "SITE_PREFIX" %}");

var resultsTable;

var partitioner;
var partitionIdElem = "#partition_id";
var partitionCountElem = "#partition_count";
var partitionLanguageElem = "#partition_language";
var partitionCookieName = 'donation_processing_partition';
var languageCookieName = 'donation_processing_language';

function getLanguageCookie() {
  var language = $.cookie(languageCookieName);
  if (typeof language !== 'undefined')
  {
    $(partitionLanguageElem).val(language);
  }
  else
  {
    $(partitionLanguageElem).val('all');
    setLanguageCookie();
  }
}

function setLanguageCookie() {
  $.cookie(languageCookieName,  $(partitionLanguageElem).val());
  console.log("Set language to " + $(partitionLanguageElem).val());
}

$(document).ready(function(){
  partitioner = new ProcessingPartitioner(partitionIdElem, partitionCountElem, partitionCookieName);

  getLanguageCookie();
  $(partitionLanguageElem).change(setLanguageCookie);

  resultsTable = $("#id_result_set");
  setTimeout(runSearch, 0);
});

function addRow(donation) {
  var row = $("<tr>");
  var id = parseInt(donation['pk']);

  row.append($("<td>").append(makeAnchor(donation['fields']['donor__public'], trackerAPI.createAdminEditURL('donor', parseInt(donation['fields']['donor'])))));
  row.append($("<td>").append(makeAnchor(asMoney(donation['fields']['amount']), trackerAPI.createAdminEditURL('donation', id))));
  row.append($("<td>").append(safeHtml(donation['fields']['comment'])));
  row.append($("<td>")
    .append(makeEditButton(row, donation, "Approve Comment Only", "Comment Approved", { readstate: "IGNORED", commentstate: "APPROVED" }))
    .append(makeEditButton(row, donation, {% if user_can_approve %}"Send to Reader"{% else %}"Send to Head"{% endif %}, {% if user_can_approve %}"Sent to Reader"{% else %}"Sent to Head"{% endif %}, { readstate: {% if user_can_approve %}"READY"{% else %}"FLAGGED"{% endif %}, commentstate: "APPROVED" }))
    .append(makeEditButton(row, donation, "Block Comment", "Blocked comment", { readstate: "IGNORED", commentstate: "DENIED" })));

  row.append($('<td class="statuscell">'));

  resultsTable.append(row);
}

function runSearch() {

  searchParams = {

  };

  {% if user_can_approve %}
    if( $("#id_process_mode").val() == 'confirm' ) {
      searchParams['readstate'] = 'FLAGGED';
    } else {
      searchParams['feed'] = "toprocess";
    }
  {% else %}
    searchParams['feed'] = "toprocess";
  {% endif %}

  {% if currentEvent %}
  searchParams.event = {{ currentEvent.id }};
  {% endif %}

  disableElements($("#id_result_set").get(0));

  $("#id_loading").html("Loading...");

  trackerAPI.searchObjects("donation", searchParams, function(status, responseText) {
    if (status == 200) {
      partition = partitioner.getPartition();

      var resultsTable = $("#id_result_set");

      resultsTable.html("<tr>" +
        "<th> Donor </th>" +
        "<th> Amount </th>" +
        "<th> Comment </th>" +
        "<th> Actions </th>" +
        "<th> Status </th>" +
        "</tr>");

      var donations = eval(responseText);

      var language = $(partitionLanguageElem).val();

      for (var i in donations) {
        if (donations[i]["pk"] % partition[1] == (partition[0] - 1) && (language == 'all' || donations[i]['fields']["commentlanguage"] == language))
        {
          addRow(donations[i]);
        }
      }

      $("#id_loading").html("");

    }
    else
    {
      $("#id_result_set").html("Error: " + responseText['error']);
    }

    enableElements($("#id_result_set").get(0));
  });

}

</script>

{% endblock %}

{% block content %}

<label>Partition ID:</label> <input type="number" id="partition_id" min="0" max="0" value="0">
<label>Partition Count:</label> <input type="number" id="partition_count" min="1" value="1">
<label>Language</label>
<select id="partition_language">
  <option value="all">All</option>
  <option value="en">English</option>
  <option value="fr">French</option>
  <option value="de">German</option>
  <option value="un">Unknown</option>
</select>

{% if user_can_approve %}
<label>Processing Mode</label>
<select id="id_process_mode">
  <option value="confirm">Confirmation</option>
  <option value="normal">Regular</option>
</select>
{% endif %}

<button onclick="runSearch();">Refresh</button>

<span id="id_loading"></span>

<table id="id_result_set" border="1" style="margin: auto; width: auto;">

</table>

{% endblock %}
