{% extends "base.html" %}
{% load donation_tags %}
{% load url from future %}

{% block title %}Process Donations{% endblock %}

{% block head %}

<style>
td {
  padding: 5px;
}
</style>

<link href="{{STATIC_URL}}css/ajax_select.css" type="text/css" media="ajax" rel="stylesheet" />
<script src="{{STATIC_URL}}js/ajax_select.js"></script>
<link href="{{STATIC_URL}}adminprocessing.css" type="text/css" media="ajax" rel="stylesheet" />
<script src="{{STATIC_URL}}adminprocessing.js"></script>


<script>

var trackerAPI = new TrackerAPI({{sitePrefix}});

var resultsTable;

var partitioner;
var partitionIdElem = "#partition_id";
var partitionCountElem = "#partition_count";
var partitionCookieName = 'donation_processing_partition';

$(document).ready(function(){
  partitioner = new ProcessingPartitioner(partitionIdElem, partitionCountElem, partitionCookieName);

  resultsTable = $("#id_result_set");
  setTimeout(runSearch, 0);
});

function addRow(donation) {
  var row = $("<tr>");
  var id = parseInt(donation['pk']);
  
  row.append($("<td>").append(makeAnchor(donation['fields']['donor____repr__'], trackerAPI.createAdminEditURL('donor', parseInt(donation['fields']['donor'])))));
  row.append($("<td>").append(makeAnchor(asMoney(donation['fields']['amount']), trackerAPI.createAdminEditURL('donation', id))));
  row.append($("<td>").append(safeHtml(donation['fields']['comment'])));
  var flagged = donation['fields']['bidstate'] == 'FLAGGED';
  if (flagged) {
    row.append($("<td>")
      .append("Yes")
      .append(makeEditButton(row, donation, "Clear", "Cleared Bid Flag", { bidstate: "PROCESSED" })));
  }
  else {
    row.append($("<td>").append("No"));
  }
  
  row.append($("<td>")
    .append(makeEditButton(row, donation, "Approve", "Approved", { readstate: "IGNORED", commentstate: "APPROVED" }))
    .append(makeEditButton(row, donation, "Send to Reader", "Sent to Reader", { readstate: "READY", commentstate: "APPROVED" }))
    .append(makeEditButton(row, donation, "Block Comment", "Blocked comment", { readstate: "IGNORED", commentstate: "DENIED" })));
  
  row.append($('<td class="statuscell">'));
  
  resultsTable.append(row);
}

function runSearch() {

  searchParams = {
    feed : "toprocess",
  };
  
  if ({{ currentEvent }} != null) {
    searchParams.event = {{ currentEvent }};
  }
  
  disableElements($("#id_result_set").get(0));

  $("#id_loading").html("Loading...");

  trackerAPI.searchObjects("donation", searchParams, function(status, responseText) {
    if (status == 200) {
      partition = partitioner.getPartition();

      var resultsTable = $("#id_result_set");
      
      resultsTable.html("<tr>" +
        "<th> Donor </th>" +
        "<th> Amount </th>" +
        "<th> Comment </th>" +
        "<th> Flagged for Bids? </th>" +
        "<th> Actions </th>" +
        "<th> Status </th>" +
        "</tr>");

      var donations = eval(responseText);
      
      for (var i in donations) {
        if (donations[i]["pk"] % partition[1] == partition[0])
        {
          addRow(donations[i]);
        }
      }
      
      $("#id_loading").html("");
      
    }
    else
    {
      $("#id_result_set").html("Error: " + responseText['error']);
    }
    
    enableElements($("#id_result_set").get(0));
  });
  
}

</script>

{% endblock %}

{% block content %}

<label>Partition ID:</label> <input type="number" id="partition_id" min="0" max="0" value="0">
<label>Partition Count:</label> <input type="number" id="partition_count" min="1" value="1">

<button onclick="runSearch();">Refresh</button>

<span id="id_loading"></span>

<table id="id_result_set" border="1" style="margin: auto; width: auto;">
  
</table>

{% endblock %}
