{% extends "base.html" %}
{% load donation_tags %}
{% load url from future %}

{% block title %}Read Donations{% endblock %}

{% block head %}

{# This is a shameless copy-paste of the process donations page, Eventually, I'd like to make a more generic system where multiple processing pages can be supported with the same base #}

<style>
td {
  padding: 5px;
}
</style>

<script>
function callEditDonation(button, donationId, type) {
  var xmlhttp;
  var resultText;
  if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  }
  else
  {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function()
  {
    if (xmlhttp.readyState==4)
    {
      if (xmlhttp.status==200) {
        if (type == "clear") {
          $("#donationflag_" + donationId.toString()).html("Done");
        }
        $("#donationresponse_" + donationId.toString()).html(resultText);
      }
      else {
        $("#donationresponse_" + donationId.toString()).html('Error: <br /> ' + xmlhttp.responseText);
      }
    }
  }
  
  var req = "type=donation&id=" + donationId;
  
  if (type == "read") {
    req += "&readstate=READ"
    resultText = "Read on the Air";
  }
  
  if (type == "ignore") {
    req += "&readstate=IGNORED&commentstate=APPROVED"
    resultText = "Ignored";
  }
  
  if (type == "block") {
    req += "&readstate=IGNORED&commentstate=DENIED"
    resultText = "Blocked Comment";
  }

  xmlhttp.open("POST","{{ edit_url }}", true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.send(req);
  
  $("#donationresponse_" + donationId.toString()).html('Working...');
}
</script>

{% endblock %}

{% block content %}

<table border="1" style="margin: auto; width: auto;">
  <tr>
    <th>
      Amount (click to edit)
    </th>
    <th>
      Donor (click to edit)
    </th>
    <th>
      Comment
    </th>
    <th>
      Actions
    </th>
    <th>
      Server Response
    </th>
  </tr>

{% for donation in donations %}
  <tr>
    <td>
      <a href="{% admin_url donation %}">{{ donation.amount | money }}</a>
    </td>
    <td>
      <a href="{% admin_url donation.donor %}">{{ donation.donor.visible_name }}</a>
    </td>
    <td>
      {{ donation.comment }}
    </td>
    <td>
      <span id="donationbuttons_{{ donation.id }}">
        <button onclick="callEditDonation(this, {{ donation.id }}, 'read')">Mark as Read</button>
        <button onclick="callEditDonation(this, {{ donation.id }}, 'ignore')">Ignore</button>
        <button onclick="callEditDonation(this, {{ donation.id }}, 'block')">Block Comment</button>
      </span>
    </td>
    <td>
      <span id="donationresponse_{{ donation.id }}">
      </span>
    </td>
  </tr>
{% endfor %}
  
{% endblock %}
