Select which event to filter on:

<form action="{% url 'admin:select_event' %}" method="post">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  {% for field in form.visible_fields %}
    <div>
      {% if field.errors %}
        {{ field.errors }}
      {% endif %}
      {{ field.label_tag }}: {{ field }}
    </div>
  {% endfor %}
  <p><input type="submit" value="Pick!" /></p>
</form>
