.button {
  /* resets */
  box-sizing: border-box;
  background: none;
  border: none;
  display: block;
  line-height: 1;
  margin: 0;

  /* common style */
  font-family: var(--font-primary);
  font-weight: 500;
  user-select: none;

  &:not([disabled]) {
    &:hover {
      cursor: pointer;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 4px var(--_button-primary);
    }
  }

  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

/* Colors */
.colorPrimary {
  --_button-primary: var(--brand-primary);
  --_button-hover: var(--background-tertiary);
  --_button-secondary: var(--text-inverted);
}

.colorNormal {
  --_button-primary: var(--background-primary);
  --_button-hover: var(--background-tertiary);
  --_button-secondary: var(--text-normal);
}

/* Looks */
.lookFilled {
  background-color: var(--_button-primary);
  border: 1px solid var(--_button-primary);
  color: var(--_button-secondary);
}

.lookOutlined {
  border: 1px solid var(--_button-primary);
  color: var(--_button-primary);

  &:not([disabled]):hover {
    background-color: var(--_button-hover);
  }
}

/* Sizes */
.sizeSmall {
  min-width: 48px;
  padding: 6px 12px 5px 12px;
  border-radius: 4px;
  font-size: 14px;
}

.sizeNormal {
  min-width: 72px;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
}

.sizeLarge {
  min-width: 96px;
  padding: 12px 32px;
  border-radius: 4px;
  font-size: 20px;
}

.isFullwidth {
  width: 100%;
  margin: 0;
}
