.container {
  --progress: 0%;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  border: var(--border-primary);
  overflow: hidden;
  display: flex;
}

.bar {
  flex: 0 0 var(--progress);
  height: 100%;
  background-color: var(--brand-primary);
  transition: width 0.5s ease-in-out;
}

.secondaryBar {
  background-color: var(--background-secondary);
  border-right: var(--border-primary);
}
