.container {
  position: relative;
  margin: 16px 0;
  background-color: var(--background-primary);

  &:hover {
    box-shadow: 0 1px 8px var(--background-mod-subtle);
  }

  &:focus-within {
    outline: 2px solid var(--accent-background);
  }
}

.header {
  position: sticky;
  top: 0;
  border-top-left-radius: var(--radius-large);
  border-top-right-radius: var(--radius-large);
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--border-subtle);
}

.headerTop {
  padding: 8px;
}

.pinIcon {
  width: 0.85em;
  height: 0.85em;
  margin-left: var(--space-md);
}

.bids {
  background-color: var(--background-tertiary);
  border-top: var(--border-subtle);
  padding: 4px 8px;
}

.comment {
  background-color: var(--background-secondary);
  padding: 8px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  border-bottom-left-radius: var(--radius-large);
  border-bottom-right-radius: var(--radius-large);
}

.noCommentHint {
  text-align: center;
}

.dragging {
  opacity: 0.6;
}

.emptyDropTarget {
  position: relative;
  display: block;
  height: 64px;
}

.dropIndicator {
  display: none;
  position: absolute;
  top: -8px;
  width: 100%;
  border: 2px solid var(--status-success-background);
  border-radius: var(--radius-full);
}

.isDropOver {
  & .dropIndicator {
    display: block;
  }
}

.dragHandle {
  flex: 0 0 auto;
  cursor: grab;
}
