.scheduleTable .even {
  background-color: #dddddd;
}

.scheduleTable tr {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.scheduleTable th,
.scheduleTable td {
  padding: 2px 4px;
}
