{% extends "tracker/index.html" %}

{% block head %}
  {{ block.super }}
  <script type="application/javascript">
    <!--
    document.addEventListener('DOMContentLoaded', () => {
      let websocket;

      if (!websocket || websocket.readyState === WebSocket.CLOSING || websocket.readyState === WebSocket.CLOSED) {
        websocket = new WebSocket('{{ socket_url }}');

        document.getElementById('status').textContent = 'Opening';

        websocket.addEventListener('open', function (event) {
          console.log('open', event);
          document.getElementById('status').textContent = 'Opened';
        });

        websocket.addEventListener('error', function (event) {
          console.log('error', event);
          document.getElementById('status').textContent = 'Error';
        });

        websocket.addEventListener('close', function (event) {
          console.log('close', event);
          document.getElementById('status').textContent = `Closed (${event.wasClean ? 'Clean' : 'Dirty'})`;
        });

        websocket.addEventListener('message', function (event) {
          console.log('message', event);
          let timestamp;
          try {
            timestamp = JSON.parse(event.data).timestamp;
          } catch(e) {
            document.getElementById('timestamp').textContent = `Invalid JSON: ${event.data}`;
            return;
          }
          let date = Date.parse(timestamp);
          if (date) {
            document.getElementById('timestamp').textContent = new Date(date).toString();
          } else {
            document.getElementById('timestamp').textContent = `Invalid Timestamp: ${timestamp}`;
          }
        });
      }
    });
    -->
  </script>
{% endblock %}

{% block content %}
  <h1 class="text-center">
    Celery test page
  </h1>
  <h3 class="text-center">Websocket Status: <span id="status">uninitialized</span></h3>
  <h4 class="text-center">Received Celery Timestamp: <span id="timestamp">never</span></h4>
{% endblock %}
