{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Prize Info" %} &mdash; {{ prize.name }}{% endblock %}

{% block content %}

<h3>{{ prize.name }}</h3>

{% if prize.state == 'PENDING' %}
  <p>
  This prize is still pending acceptance for the event.
  </p>
{% elif prize.state == 'DENIED' %}
  <p>
  Unfortunately we were not able to accept this prize.
  </p>
{% endif %}

{% if prize.reviewnotes %}
<p>
<b>Prize Coordinator Notes:</b> {{ prize.reviewnotes }}
</p>
{% endif %}

{% if prize.state == 'ACCEPTED' %}

{% if formset %}
  <h4>Winner{{ formset|length|pluralize }}</h4>

  {% if formset|length > 1 %}
  <small>Note: Please enter and save shipping details for each winner separately</small>
  {% endif %}

  <form id="prizesubmission" method="post">

  {% csrf_token %}
  {{ formset.management_form }}

  <ul>
  {% for form in formset %}

    {% with form.instance as claim %}
    <li>
      {{ claim.winner.visible_name }}
{#      {% include 'tracker/partials/donor_link.html' with donor=prize_winner.winner only %} #}
      <i>({{ claim.acceptcount }} cop{{ claim.acceptcount|pluralize:"y,ies" }}{% if claim.pendingcount > 1 %},&nbsp;{{ claim.pendingcount }} cop{{ claim.pendingcount|pluralize:"y,ies" }} pending{% endif %})</i> {% if form.saved %}<span style="color:blue">Saved</span>{% endif %}<br />
      <b>Mailing Address:</b> <br />
      {% include 'tracker/partials/donor_address.html' with donor=claim.winner only %}
      <br />
      {% if claim.winnernotes %}
      <p>
      Winner Notes: {{ claim.winnernotes }}
      </p>
      {% endif %}

      {% form_innards form showrequired=False %}

      <br />
      <br />
    </li>
    {% endwith %}
  {% endfor %}
  </ul>

  <input type="submit" value="Save" />

  </form>
{% endif %}

{% if pending_claims %}
  <p>There {{ pending_claims|pluralize:"is,are" }} {{ pending_claims.count }} {% if formset %}{{ pending_claims|pluralize:"an ," }}additional {% endif %}pending winner{{ pending_claims|pluralize:"s" }} for this prize.</p>
{% elif not formset %}
  <p>There are currently no winners for this prize.</p>
{% endif %}

{% endif %}

<br />
<a href="{% url 'tracker:user_index' %}">Back to Self Service index</a>
<br />

{% endblock %}
