{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Donation Detail" %} &mdash; {{ event.name }}{% endblock %}

{% block content %}

    <h2 class="text-center">
        {{ donation.visible_donor_name }}
{#        {% include "tracker/partials/donor_link.html" with donor=donation.donor_cache only %}#}
        <br />
        {% trans "Time Received" %}:
        <span class="datetime">{{ donation.timereceived|date:"c" }}</span>
        &mdash;
        {% trans "Amount" %}:
        {% money event donation.amount %}
    </h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th align="center">
                <b>
                    {% trans "Comment" %}
                </b>
            </th>
        </tr>
        </thead>
        <tr>
            <td class="{{ donation.commentstate }}">
                {% with donation.comment as comment %}{% with donation.commentstate as state %}
                    {% include "tracker/partials/comment.html" %}
                {% endwith %}{% endwith %}
            </td>
        </tr>
    </table>

    {% if donationbids %}
        <h3>
            <a href="{% url 'tracker:bidindex' event=donation.event.short %}">{% trans "Donation Bids" %}</a>
        </h3>
        <table class="table table-condensed table-striped small">
            <thead>
            <tr>
                <th>
                    {% trans "Run" %}
                </th>
                <th>
                    {% trans "Name" %}
                </th>
                <th>
                    {% trans "Amount" %}
                </th>
            </tr>
            </thead>
            {% for donation_bid in donationbids %}
                <tr class="small">
                    <td>
                        {% if donation_bid.speedrun_id %}
                            <a href="{% url 'tracker:run' pk=donation_bid.speedrun_id %}">{{ donation_bid.speedrun.name_with_category }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'tracker:bid' pk=donation_bid.bid_id %}">{{ donation_bid.fullname }}</a>
                    </td>
                    <td>
                        {% money event donation_bid.amount %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <p align="center"><a href="{% url 'tracker:donationindex' event=donation.event.short %}">{% trans "Back to Donation Index" %}</a></p>
    {% include "tracker/partials/navfooter.html" %}
{% endblock %}
