{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Donor Index" %} &mdash; {{ event.name }}{% endblock %}

{% block content %}

    <div class="fa-stack center-block medium-icon-blue fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-user fa-stack-1x fa-inverse"></i>
    </div>

    <h2 class="text-center">
        {% trans "Donor Index" %}
        &mdash;
        {{ event.name }}

    </h2>
    <h3 class="text-center">
      <small>
            {% trans "Donor Max/Avg/Median" %}:
            {% money event agg.max %}/{% money event agg.avg %}/{% money event agg.median %}
      </small>
    </h3>
    <table class="table table-condensed table-striped small">
        <thead>
        <tr>
            <th>
                {% trans "Donor" %}
            </th>
            <th>
                {% trans "Total" %}{% sort "total" page %} ({% trans "Count" %}){% sort "count" page %}
            </th>
            <th>
                {% trans "Max" %}{% sort "max" page %}/{% trans "Avg" %}{% sort "avg" page %} {% trans "Donation" %}
            </th>
        </tr>
        </thead>
        {% for donor in donors %}
            {% if donor.donation_count > 0 %}
                <tr>
                    <td>
                        {% include "tracker/partials/donor_link.html" with donor=donor only %}
                    </td>
                    <td>
                        {% money event donor.donation_total %} ({{ donor.donation_count }})
                    </td>
                    <td>
                        {% money event donor.donation_max %}/{% money event donor.donation_avg %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    {% include "tracker/partials/pagefooter.html" %}
    {% include "tracker/partials/navfooter.html" %}
{% endblock %}
