{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Prize Index" %} &mdash; {{ event.name }}{% endblock %}

{% block content %}
    <div class="fa-stack center-block medium-icon-blue fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
    </div>

    <h2 class="text-center">
      {% trans "Prize Index" %} &mdash; {{ event.name }}
    </h2>

    {% include "tracker/partials/event_links.html" with index='tracker:prizeindex' %}

    {% if settings.SWEEPSTAKES_URL %}
      <div class="text-center">No donation necessary for a chance to win.
        See <a href="{{ settings.SWEEPSTAKES_URL }}" target="_blank" rel="noopener noreferrer">sweepstakes rules</a> for
        details and instructions.
      </div>
    {% endif %}

    <table class="table table-condensed table-striped small">
        <thead>
        <tr>
            <th>
                {% trans "Name" %}
            </th>
            <th>
                {% trans "Contributed By" %}
            </th>
            <th>
                {% trans "Entry Threshold" %}
            </th>
            <th>
                {% trans "Games" %}
            </th>
            <th>
                {% trans "Category" %}
            </th>
            <th>
                {% trans "Image" %}
            </th>
            <th>
                {% trans "Winner" %}
            </th>
        </tr>
        </thead>

        {% for prize in prizes %}
            <tr class="small">
                <td>
                    <a href="{% url 'tracker:prize' pk=prize.pk %}">
                        {{ prize.name }}
                    </a>
                </td>
                <td>
                    {{ prize.provider }}
                </td>
                <td>
                    {{ prize.minimumbid|money }}
                    {% if prize.sumdonations %}
                        Cumulative Donations
                    {% else %}
                        Minimum Donation
                    {% endif %}
                </td>
                <td>
                    {% if prize.startrun %}
                        <a href="{% url 'tracker:run' pk=prize.startrun.pk %}">
                            {{ prize.startrun.name_with_category }}
                        </a>
                    {% endif %}
                    {% if prize.startrun != prize.endrun %}
                        <i class="fa fa-arrows-h"></i>
                        <a href="{% url 'tracker:run' pk=prize.endrun.pk %}">
                            {{ prize.endrun.name_with_category }}
                        </a>
                    {% endif %}
                    {% if prize.starttime %}
                      <b>Opens:</b> <span class='datetime'>{{ prize.starttime|date:"c" }}</span>
                      <i class="fa fa-arrows-h"></i>
                      <b>Closes:</b> <span class='datetime'>{{ prize.endtime|date:"c" }}</span>
                    {% endif %}
                </td>
                <td>
                    {{ prize.category }}
                </td>
                <td>
                    {% if prize.image %}
                        <a href="{{ prize.image }}">{% trans "Link" %}</a>
                    {% elif prize.imagefile %}
                        <a href="{{ prize.imagefile.url }}">{% trans "Link" %}</a>
                    {% else %}
                        {% trans "None" %}
                    {% endif %}
                </td>
                <td>
                  {% if prize.key_code %}
                    {{ prize.get_winners|length }} winner(s)
                  {% else %}
                    {% for winner in prize.get_prize_winners %}
                      {% if not forloop.first %} - {% endif %}
                      {% include "tracker/partials/donor_link.html" with donor=winner.donor_cache %}
                    {% empty %}
                      {% trans "None" %}
                    {% endfor %}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include "tracker/partials/navfooter.html" %}
{% endblock %}
