{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Prize Detail" %} &mdash; {{ event.name }}{% endblock %}

{% block content %}
    <h2>
        {{ prize.name }}
        <br>
        <small>
            {% trans "Minimum Bid" %}: {{ prize.minimumbid|money }}
        {% if category %}
            <br>
            {% trans "Category" %}: {{ category }}
        {% endif %}
        {% if prize.provider %}
            <br>
            {% trans "Contributed By" %}:
            {% if prize.creatorwebsite %}
                <a href="{{ prize.creatorwebsite }}">{{ prize.provider }}</a>
            {% else %}
                {{ prize.provider }}
            {% endif %}
        {% endif %}

    {% if games %}
        </small>
    </h2>
    <h3 class="text-gdq-black">
        {% trans "Games" %}
    </h3>
    <ul style="list-style:none;padding-left:0">
        {% for game in games %}
            <li style="margin-bottom:2px;">
                <a href="{% url 'tracker:run' pk=game.pk %}">
                    {{ game.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% elif prize.starttime %}
        <div style="margin-top:0.55em;display:grid;width:fit-content">
            <div style="margin-bottom:5px;">{% trans "Opens" %}: <span class='datetime'>{{ prize.starttime|date:"c" }}</span></div>
            <i class="fa fa-arrows-v" style="justify-self:center"></i>
            <div style="margin-top:5px;">{% trans "Closes" %}: <span class='datetime'>{{ prize.endtime|date:"c" }}</span></div>
        </div>
        </small>
    </h2>
    {% endif %}
    {% for winner in prize.get_winners %}
        {% if forloop.first %}
            <h3 class="text-gdq-black">
                {% trans "Winners" %}
            </h3>
            <ul style="list-style:none">
        {% endif %}
            <li>
                {{ winner.donor_cache.visible_name }}
{#              {% include "tracker/partials/donor_link.html" with donor=winner.donor_cache only %}#}
            </li>
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
    {% if prize.description %}
        <h3 class="text-gdq-black">
            {% trans "Description" %}
        </h3>
        <p>{{ prize.description|forumfilter }}</p>
    {% endif %}
    {% if prize.image %}
        <hr>
        <div style="display:grid">
            <img
                src="{{ prize.image }}"
                style="justify-self:center;max-width: calc(40% - 50px);max-height:auto"
                alt=""
            />
        </div>
    {% endif %}
    <hr>
    {% if settings.TRACKER_SWEEPSTAKES_URL %}
        <small>No donation necessary for a chance to win.
        See <a href="{{ settings.TRACKER_SWEEPSTAKES_URL }}" target="_blank" rel="noopener noreferrer">sweepstakes rules</a> for
        details and instructions.
        </small>
        <br>
    {% endif %}

    <p align="center" style="margin-top:10px"><a
            href="{% url 'tracker:prizeindex' event=prize.event.short %}">{% trans "Back to Prize Index" %}</a>
    </p>
    {% include "tracker/partials/navfooter.html" %}
{% endblock %}
