Hello {{ winner.contact_name }},
<p>
    The following prize{{ prize_count|pluralize }} {{ prize_count|pluralize:"has,have" }} been {{ action }} to you:
</p>

<ul>
    {% for claim in claims %}
        <li><a href="{{ claim.claim_url }}">{{ claim.prize.name }}</a>
            {% if claim.couriername %}
                <p><b>Courier:</b> {{ claim.couriername }}</p>
                {% if claim.trackingnumber %}<p><b>Tracking#:</b> {{ claim.trackingnumber }}</p>{% endif %}
            {% endif %}
            {% if claim.shippingnotes %}<p><b>Shipping Notes:</b> {{ claim.shippingnotes }}</p>{% endif %}
            {% if claim.prize.key_code %}<p><b>Key:</b> {{ claim.prize_key.key }}</p>{% endif %}
        </li>
    {% endfor %}
</ul>

<p>
    If you have any questions, please contact us at {{ reply_address }}.
</p>

- The Staff
