Hello {{ winner.contact_name }},

<p>
    Congratulations, you were selected as the winner of the following prize{% if multi %}s{% endif %}
    during {{ event.name }}:
</p>

<ul>
    {% for prize_win in prize_wins %}
        <li><a href="{{ prize_win.claim_url }}">{{ prize_win.prize.name }}</a>
            {% if prize_win.prize.description %}
                <p>
                    Description: {{ prize_win.prize.description }}
                </p>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<p>
    To claim {% if multi %}any of your prizes{% else %}your prize{% endif %}, click the link on the prize name, and
    submit the form on the page.
</p>

{% if requires_shipping %}
    <p>
        You will also be asked to fill in your mailing address information{% if multi %} on at least one of your
        prizes{% endif %}. Note that we may already have it on file from PayPal, or from a previous event, in which case
        we ask you to simply confirm that the information is correct.
    </p>
{% endif %}

<p>
    You must accept/deny your prize{{ prize_count|pluralize }} on or before {{ accept_deadline }},
    after which it will be automatically re-rolled.
    If you do simply want to decline receiving your prize, we would still ask you do so promptly so we can re-roll to
    another winner it as quickly as possible.
</p>

<p>
    If you have any questions, please contact me at {{ reply_address }}.
</p>

<p>
    Once again we would like to thank you for your contribution in helping to make our event a success.
</p>

Sincerely,
- INSERT CORRESPONDENCE NAME HERE
