Hello {{ handler.username }},

<p>
    {{ claims|pluralize:"A,Some" }} prize winner{{ claims|pluralize }}s have accepted your prize{{ claims|pluralize }}.
</p>

<ul>
    {% for claim in claims %}
        <li>{{ claim.prize }} for {{ claim.winner.visible_name }}
            {% if claim.winnernotes %}
                <p>
                    Winner's Notes: {{ claim.winnernotes }}
                </p>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<p>
    You can view the list of prizes to be shipped, as well as the mailing address details
    <a href="{{ user_index_url }}">here</a> (requires login). The prizes which are ready to be shipped will be marked
    "pending shipping".
</p>

<p>
    Please ship at your earliest convenience, and mark the prizes as 'shipped' on the site when you do.
</p>

<p>
    If you have any questions, please contact me at {{ reply_address }}.
</p>

- The Staff
