.alert {
  margin-bottom: 16px;
}

.section {
  margin-bottom: 32px;
}

.emailOptin {
  width: 100%;
}

.amountPresets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.amountPreset {
  flex: 1 1 auto;
  margin: 0 8px 8px 8px;
}

.incentives {
  margin-top: 16px;
}
