.action {
  padding: 8px 0;
  border-radius: var(--radius-normal);
}

.actionEnter {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
}

.actionEnterActive {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
  transition: 160ms ease-out;
  transition-delay: 50ms;
}

.actionExit {
  opacity: 1;
}

.actionExitActive {
  opacity: 0;
  transition: 160ms ease-out;
}
