{% load donation_tags %}
{% load i18n %}

<table class="table table-condensed table-striped small">
    <thead>
    <tr>
        <th>
            {% trans "Name" %}
        </th>
        <th>
            {% trans "Description" %}
        </th>
        <th>
            {% trans "Amount" %}
        </th>
        <th>
            {% trans "Step Goal" %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% include 'tracker/partials/option.html' with bid=bid hiderun=1 chained=1 only %}
    </tbody>
</table>
