{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'eventlist.css' %}"/>

<div class='tracker--eventlist'>
  {% with prev=event.prev next=event.next %}
    <div>
      {% if prev %}
        <a class="btn btn-default" href="{% url index event=prev.short %}">← {{ prev.name }}</a>
      {% endif %}
    </div>
    <div>
      <a class="btn btn-default" href="{% url index %}">Event List</a>
    </div>
    <div>
      {% if next %}
        <a class="btn btn-default" href="{% url index event=next.short %}">{{ next.name }} →</a>
      {% endif %}
    </div>
  {% endwith %}
</div>
