{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}Draw Prize Winners{% endblock %}

{% block head %}

{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

<form id="prizeform" method="post">
  {% csrf_token %}

  {% for field in form.visible_fields %}

    {{ field.label_tag }} {% if field.field.required %} <span style="color:red">*</span> {% endif %}
    {% if field.errors %}
    <span style="color:red">
      {{ field.errors }}
    </span>
    {% endif %}
    <br />
    <small>{{ field.help_text }}</small>
    <br />
    {{ field }}
    <br />
    <br />
  {% endfor %}

  <p><input type="submit" value="Submit" /></p>
</form>

{% endblock %}
