{% extends "base.html" %}
{% load donation_tags %}
{% load static %}

{% block title %}Read Donations{% endblock %}

{% block nav %}{% endblock %}
{% block head %}

<link href="{% static "adminprocessing.css" %}" type="text/css" rel="stylesheet" />
<script src="{% static "adminprocessing.js" %}"></script>

<script>

var partitionLanguageElem = "#partition_language";
var languageCookieName = 'donation_processing_language';

var trackerAPI = new TrackerAPI({{ apiUrls }});

var resultsTable;

// yes, repeated code, someday I'll clean this up to use a proper javascript model library
function getLanguageCookie() {
  var language = $.cookie(languageCookieName);
  if (typeof language !== 'undefined')
  {
    $(partitionLanguageElem).val(language);
  }
  else
  {
    $(partitionLanguageElem).val('all');
    setLanguageCookie();
  }
}

function setLanguageCookie() {
  $.cookie(languageCookieName,  $(partitionLanguageElem).val());
  console.log("Set language to " + $(partitionLanguageElem).val());
}

$(document).ready(function(){
  resultsTable = $("#id_result_set");

  getLanguageCookie();
  $(partitionLanguageElem).change(setLanguageCookie);

  setTimeout(runSearch, 0);
});

function addRow(donation) {
  var row = $("<tr>");
  var id = parseInt(donation['pk']);

  if (donation['fields']['commentstate'] === 'FLAGGED') {
    row.css('background-color', 'cyan');
  }

  row.append($("<td>").append(makeAnchor(donation['fields']['donor__public'], trackerAPI.createAdminEditURL('donor', parseInt(donation['fields']['donor'])))));
  row.append($("<td>").append(makeAnchor(asMoney(donation['fields']['amount']), trackerAPI.createAdminEditURL('donation', id))));
  row.append($("<td class='donationcell'>").append(safeHtml(donation['fields']['comment'])));

  var buttons = $("<td>");
  buttons
    .append(makeEditButton(row, donation, "Read", "Read on the Air", { readstate: "READ", commentstate: "APPROVED" }))
    .append(makeEditButton(row, donation, "Ignore", "Ignored", { readstate: "IGNORED", commentstate: "APPROVED" }))
    .append(makeEditButton(row, donation, "Block Comment", "Blocked comment", { readstate: "IGNORED", commentstate: "DENIED" }));

  if (donation.fields.commentstate === 'FLAGGED') {
      buttons
        .append(makeEditButton(row, donation, "Unpin Comment", "Unpinned comment", { commentstate: "APPROVED" }));
  } else {
      buttons
        .append(makeEditButton(row, donation, "Pin Comment", "Pinned comment", { commentstate: "FLAGGED" }));
  }

  row.append(buttons);
  row.append($('<td class="statuscell">'));

  resultsTable.append(row);
}

function runSearch() {
  var searchParams = {
    feed: "toread",
    all_comments: "",
  };

  {% if currentEvent %}
  searchParams.event = {{ currentEvent.id }};
  {% endif %}

  //TODO: it would be nice to animate removed rows fading out, and new rows fading in, but
  // I think we should focus on _functionality_ over style for now
  disableElements($("#id_result_set").get(0));
  //$("#id_result_set").html("");

  $("#id_loading").html("Loading...");

  trackerAPI.searchObjects("donation", searchParams, function(status, responseText) {
    if (status === 200) {

      var resultsTable = $("#id_result_set");

      resultsTable.html("<tr>" +
        "<th> Donor </th>" +
        "<th> Amount </th>" +
        "<th> Comment </th>" +
        "<th> Actions </th>" +
        "<th> Status </th>" +
        "</tr>");

      var donations = JSON.parse(responseText);

      var language = $(partitionLanguageElem).val();

      donations.sort(function(a, b) {
        if (a.fields.commentstate === 'FLAGGED' && b.fields.commentstate !== 'FLAGGED') {
          return -1;
        }
        if (a.fields.commentstate !== 'FLAGGED' && b.fields.commentstate === 'FLAGGED') {
          return 1;
        }
        return b.pk - a.pk;
      });

      donations.forEach(function(donation) {
        if (language === 'all' || donation['fields']["commentlanguage"] === language) {
          addRow(donation);
        }
      });

      $("#id_loading").html("");

    }
    else
    {
      $("#id_result_set").html("Error: " + responseText['error']);
    }

    enableElements($("#id_result_set").get(0));
  });

}

</script>

{% endblock %}

{% block content %}

<label>Language
<select id="partition_language">
  <option value="all">All</option>
  <option value="en">English</option>
  <option value="fr">French</option>
  <option value="de">German</option>
  <option value="un">Unknown</option>
</select>
</label>
<button onclick="runSearch();">Refresh</button>

<span id="id_loading"></span>

<table id="id_result_set" border="1" style="margin: auto; width: auto;">

{% endblock %}
