.container {
  padding: 8px;
  margin: 32px 0;
  border-radius: 4px;
  background-color: var(--background-tertiary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: 700;
}

.actionButton {
  flex: 0 0 auto;
  font-size: 12px !important;
}

.progressContainer {
  height: 8px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--background-secondary);
}

.progressBar {
  height: 8px;
  border-radius: 4px;
  min-width: 8px;
  background-color: var(--text-muted);
}
