.button {
  background: var(--background-secondary);
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;

  &:hover {
    background-color: var(--background-hover);
  }
}

.tertiary {
  background-color: var(--background-tertiary);
}

.success {
  color: var(--status-success);
}

.danger {
  color: var(--status-danger);
}

.warning {
  color: var(--status-warning);
}

.default {
  color: inherit;
}

.icon {
  margin-right: 4px;
  opacity: 0.6;
}

.button:hover .icon {
  opacity: 1;
}
