.container {
  padding: 8px;
  margin: 32px 0;
  border-radius: 4px;
  background-color: var(--background-tertiary);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.statusDot {
  width: 0.85em;
  height: 0.85em;
  border-radius: 100%;

  &.connected {
    background-color: var(--status-success);
  }

  &.disconnected {
    background-color: var(--status-danger);
  }
}

.bodyText {
  font-size: 14px;
  line-height: 1.25em;
}

.actionButton {
  font-size: 14px;
}
