.container {
  display: flex;
  gap: 16px;
  font-weight: initial;
  color: #333;
  /* TODO(faulty): this is needed to offset the floating static site header.
   * Remove when that gets refactored */
  height: calc(100vh - 60px);
  font-size: 16px;
}

.sidebar {
  flex: 0 0 320px;
  background-color: #f2f2f2;
  margin-left: -16px;
  padding: 16px;
  overflow-y: scroll;
}

.sidebarFilters {
  margin: 32px 0;
}

.eventName {
  margin: 0;
}

.main {
  flex: 1 1 auto;
  position: relative;
  overflow-y: scroll;
  /* TODO(faulty): this is to counteract the static site's padding */
  margin-right: -16px;
  padding-right: 16px;
}

.donation {
  margin: 16px 0;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #ccc;
  overflow: clip;
}

.donationHeader {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ccc;
}

.donationTopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #fff;
}

.donationBidsRow {
  background-color: #d7d7d7;
  border-top: 1px solid #ccc;
  padding: 2px 8px;
  font-size: 14px;
}

.donationTitle {
  line-height: 1;
  margin: 0;
}

.donationTitleHeader {
  font-size: 16px;
  margin-bottom: 4px;
}

.donationTitleByline {
  color: #777;
  font-size: 12px;
}

.donationTimestamp {
  display: inline-block;
}

.expectedReadingTime {
  display: inline-block;
}

.donationActionRow {
  display: flex;
  gap: 8px;
}

.donationComment {
  padding: 8px;
  font-size: 16px;
  overflow-wrap: break-word;
}

.endOfList {
  padding: 32px 0;
  margin-bottom: 32px;
  text-align: center;
  color: #999;
}

.donationExit {
  opacity: 1;
  transition: 240ms ease-out;
}
.donationExitActive {
  transform: translateX(-300px);
  opacity: 0;
}

a[target='_blank']:not(.block-external):after {
  display: none;
}
