.container {
  display: flex;
  gap: 16px;
  font-weight: initial;
  background-color: var(--background-primary);
  color: var(--text-primary);
  /* TODO(faulty): this is needed to offset the floating static site header.
   * Remove when that gets refactored */
  height: calc(100vh - 50px);
  margin: 0 -16px -8px -16px;
  font-size: 16px;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--text-header);
  }

  & a[target='_blank']:not(.block-external):after {
    display: none;
  }

  & a {
    color: var(--text-link);
  }
}

.sidebar {
  flex: 0 0 320px;
  background-color: var(--background-secondary);
  padding: 16px;
  overflow-y: scroll;
}

.sidebarFilters {
  margin: 32px 0;
}

.eventName {
  margin: 0;
}

.main {
  flex: 1 1 auto;
  position: relative;
  overflow-y: scroll;
  padding-right: 16px;
}

.endOfList {
  padding: 32px 0;
  margin-bottom: 32px;
  text-align: center;
  color: var(--text-muted);
}

.donationEnter {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}
.donationEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: 240ms ease-out;
  pointer-events: none;
}
.donationExit {
  opacity: 1;
  transition: 240ms ease-out;
  pointer-events: none;
}
.donationExitActive {
  transform: translateX(-300px);
  opacity: 0;
  pointer-events: none;
}
