* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 24px;
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-size: 16px;
  font-family: 'Source Sans Pro', Verdana;
  font-weight: 400;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
}

.content {
  margin: 16px;
}


h1 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

.lead {
  font-size: 20px;
  line-height: 28px;
}

table {
  width: 100%;
  max-width: 720px;
  margin: 16px auto;
}

th {
  text-align: left;
  padding: 0 8px;
}

td {
  padding: 2px 8px;
}

.table-numeric {
  width: 15%;
  min-width: 80px;
  text-align: right;
}


label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

input {
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #bbb;
  font-family: 'Source Sans Pro', Verdana;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #bbb;
  line-height: 20px;
  font-family: 'Source Sans Pro', Verdana;
  font-size: 16px;
}

select {
  width: 100%;
  font-family: 'Source Sans Pro', Verdana;
  font-size: 16px;
  line-height: 24px;
}

select option {
  padding: 2px 8px;
}

.form-control {
  padding-top: 0.5rem;
}

.form-error {
  color: red;
}

.form-inline-group {
  display: flex;
}

.btn {
  padding: 8px 12px;
  margin: 4px 0;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
}

/* NOTE: Override for buttons that are implicitly added and uncontrollable.
  This is essentially a `btn-sm`.
*/
.btn-sm {
  margin: 2px 0;
  padding: 3px 4px;
}

.btn-lg {
  margin: 8px 0;
  padding: 8px 16px;
  font-size: 20px;
}

.btn-primary {
  background-color: #339966;
  color: #fff;
  border-color: #fff;
}


.donation-form {
  display: flex;
  flex-wrap: wrap;
}

.donation-info {
  flex: 4 1 300px;
  padding: 0 16px;
  margin-bottom: 16px;
}

.donation-supplements {
  flex: 6 1 420px;
  padding: 0 16px;
  margin-bottom: 16px;
}

.donation-actions {
  padding: 16px;
  margin-bottom: 16px;
}

.allocation-info {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #bbb;
  padding: 8px 16px 4px 16px;
  margin: 0 -16px;
}

.allocation {
  padding: 0 16px 16px 16px;
  margin: 0 -16px;
  border-bottom: 1px solid #bbb;
}

.allocation:hover,
.allocation:focus,
.allocation:focus-within {
  background-color: #f7f7f7;
}

/* Uncontrollable inputs
  These elements are generated elsewhere and can't have classes easily added
  to them, or be structurally adapted to better fit this page.
*/
.mf_selectbox {
  margin: 16px 0;
  border-radius: 4px;
  border: 1px solid #bbb;
}

a.delete-row {
  display: block;
  padding: 16px 0 0 0;
}

a.add-row {
  display: block;
  padding: 16px 0;
}
