{% load i18n %}

{% load static %}
{% load staticfiles %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}Base Title{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.datetimepicker.css"/ >
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}jquery.datetimepicker.js"></script>
  <script src="{{ STATIC_URL }}jquery.cookie.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript">
    django = new Object();
    django.jQuery = jQuery;
  </script>

  <script src="{{ STATIC_URL }}date.format.js"></script>

  <script>
    $(document).ready(function() {
      $(".datetime").each(function() {
        timestamp = Date.parse($(this).html());
        time = new Date(timestamp);
        $(this).html(time.format("mmmm dS, yyyy, h:MM:ss TT"));
      });
    });

    $(document).ready(function() {
      $(".datetimepicker").datetimepicker();
    });
  </script>

{% block head %}
{% endblock %}
</head>
<body>

    {% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if not event.id %}
          <li><a href="{% url 'tracker.views.index' event='' %}">{% trans "Home" %}</a></li>
          <li><a href="{% url 'tracker.views.runindex' event='' %}">{% trans "Runs" %}</a></li>
          <li><a href="{% url 'tracker.views.prizeindex' event='' %}">{% trans "Prizes" %}</a></li>
          <li><a href="{% url 'tracker.views.bidindex' event='' %}">{% trans "Bids" %}</a></li>
          <li><a href="{% url 'tracker.views.donorindex' event='' %}">{% trans "Donors" %}</a></li>
          <li><a href="{% url 'tracker.views.donationindex' event='' %}">{% trans "Donations" %}</a></li>
        {% else %}
          <li><a href="{% url 'tracker.views.index' event=event.id %}">{% trans "Home" %}</a></li>
          <li><a href="{% url 'tracker.views.runindex' event=event.id %}">{% trans "Runs" %}</a></li>
          <li><a href="{% url 'tracker.views.prizeindex' event=event.id %}">{% trans "Prizes" %}</a></li>
          <li><a href="{% url 'tracker.views.bidindex' event=event.id %}">{% trans "Bids" %}</a></li>
          <li><a href="{% url 'tracker.views.donorindex' event=event.id %}">{% trans "Donors" %}</a></li>
          <li><a href="{% url 'tracker.views.donationindex' event=event.id %}">{% trans "Donations" %}</a></li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
          <ul class="dropdown-menu small">
        {% for ev in events %}
	<li><a href="{% url 'tracker.views.index' event=ev.id %}">{{ ev.name }}</a></li>

        {% endfor %}
	<li role="separator" class="divider"></li>
        <li><a href="{% url 'tracker.views.index' event='' %}">{% trans "All Events" %}</a></li>
          </ul>
        </li>
        
        {% if user and user.is_authenticated %}
            <li><a href="{% url 'tracker.views.user_index' %}">{% trans "Self Service" %}</a></li>
            <li><a href="{% url 'tracker.views.logout' %}">{% trans "Log Out" %}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<br /><br />
    {% endblock %}

<div class="container-fluid">
    {% block statbox %}{% endblock %}

    {% block content %}{% endblock %}</div>
<p align="center">

{% block cssfooter %}
{% endblock %}
</p>
{% block login %}{% endblock %}
{% if djangoversion and pythonversion %}
<div class="container-fluid text-center" style="margin-bottom:30px;">{% blocktrans with djangoversion=djangoversion pythonversion=pythonversion %}
Running on Django with Python {% endblocktrans %}
<br />{% trans "Python code by UraniumAnchor and SMK" %}
<br />{% trans "CSS by Cool Matty" %}
<!-- <br />{% trans "Translated By"%}-->

</div>
{% endif %}
{% block rendertime %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36823056-2', 'gamesdonequick.com');
  ga('send', 'pageview');

</script>
</body>
</html>
