{% load i18n %}
{% load url from future %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}Base Title{% endblock %}</title>
{% block head %}
{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
<p align="center">
{% block xhtmlfooter %}
<a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
{% endblock %}
{% block cssfooter %}
{% endblock %}
</p>
{% block login %}{% endblock %}
{% if djangoversion and pythonversion %}<div class="footer">{% blocktrans with djangoversion=djangoversion pythonversion=pythonversion %}Running on Django {{ djangoversion }} with Python {{ pythonversion }}{% endblocktrans %}<br />{% trans "Python code by UraniumAnchor" %}<br />{% trans "Translated By"%}</div>{% endif %}
{% block rendertime %}{% endblock %}

</body>
</html>
