{% if csrf_token %}
  {% csrf_token %}
{% endif %}

{% if showrequired %}
<span style="color:red"><small>(* = required)</small></span> 
<br />
<br />
{% endif %}
{% for error in form.non_field_errors %}
<span style="color:red">
  <strong>{{ error|escape }}</strong>
</span>
<br />
{% endfor %}

{% for field in form.hidden_fields %}
  {% if field.errors %}
  <span style="color:red">
    <strong>{{ field.errors | escape }}</strong><br />
  </span>
  {% endif %}
  {{ field }}
{% endfor %}

{% for field in form.visible_fields %}
  {{ field.label_tag }} {% if field.field.required and showrequired %} <span style="color:red">*</span> {% endif %}
  {% if field.errors %}
  <span style="color:red">
    <strong>{{ field.errors | escape }}</strong>
  </span>
  {% endif %}
  {% if field.help_text %}
      <small>{{ field.help_text }}</small>
      <br />
  {% endif %}
  {{ field }}
  <br />
  <br />
{% endfor %}