.root {
  width: 100%;
  table-layout: fixed;
  max-height: 100%;
}

.root th,
.root td {
  padding: 2px;
  border: 1px solid gray;
}

.row--speedrun {
  background-color: lightcyan;
}

.row--interview {
  background-color: lightgreen;
}

.row--ad {
  background-color: lightyellow;
}

.row input[type='checkbox'] {
  -moz-appearance: initial; /* Hack for Firefox Browsers */
}

.row input[type='checkbox'][disabled] {
  visibility: hidden;
}

.row input[type='checkbox'][disabled]:after {
  content: 'N';
  visibility: visible;
}

.row input[type='checkbox'][disabled][checked]:after {
  content: 'Y';
  visibility: visible;
}
