{% load donation_tags %}
{% load i18n %}

<tr class="small">
    <td>
        <a href="{% url 'tracker.views.bid' id=bid.id %}">
            {{ bid.name }}
        </a>
        {% if bid.children %}
            <button id="bidOptionShow-{{ bid.id }}"
                    onclick="
                            $('#bidOptionShow-{{ bid.id }}').hide();
                            $('#bidOptionHide-{{ bid.id }}').show();
                            $('#bidOptionData-{{ bid.id }}').show();
                            ">
                Show Options
            </button>
            <button style="display:none" id="bidOptionHide-{{ bid.id }}"
                    onclick="
                            $('#bidOptionShow-{{ bid.id }}').show();
                            $('#bidOptionHide-{{ bid.id }}').hide();
                            $('#bidOptionData-{{ bid.id }}').hide();
                            ">
                Hide Options
            </button>
        {% endif %}
    </td>
    <td>
        {% if bid.speedrun %}
            {{ bid.speedrun }}
        {% endif %}
    </td>
    <td>
        {% if bid.event %}
            {{ bid.event }}
        {% endif %}
    </td>
    <td>
        {{ bid.description }}
    </td>
    <td>
        {{ bid.total | money }}
    </td>
    <td>
        {% if bid.goal %}
            {{ bid.goal | money }}
        {% else %}
            (None)
        {% endif %}
    </td>
</tr>

{% if bid.children %}
    <tr style="display:none" id="bidOptionData-{{ bid.id }}">
        <td colspan="6">
            {% include 'tracker/partials/optionstable.html' with bid=bid only %}
        </td>
    </tr>
    <tr style="display:none"></tr>
{% endif %}
