{% load donation_tags %}
{% load i18n %}

<p class="text-center larger">
	{% pagefirst %}
	{% if pageinfo.has_previous %}{% pageprev pageinfo.previous_page_number %}{% endif %}
	{% for i in pageinfo.paginator.page_range %}
		{% if i != page %}
		    {% if i|abs:page <= 500 %}
				{% if i|abs:page <= 5 or i|mod:10 == 0 or i == pageinfo.paginator.num_pages %}
					{% pagelink i %}
				{% endif %}
			{% elif i|mod:50 == 0 or i == pageinfo.paginator.num_pages  %}
				{% pagelink i %}
			{% endif %}
		{% else %}
			{{ i }}
		{% endif %}
	{% endfor %}
	{% if pageinfo.has_next %}{% pagenext pageinfo.next_page_number %}{% endif %}
	{% pagelast pageinfo.paginator.num_pages %}
</p>
<div class="text-center">
	<form action="" method="get">
		<div>
		<label for="page">
			{% trans "Page" %}
		</label>

		<select name="page">
		{% for i in pageinfo.paginator.page_range %}
			<option{% if i == page %} selected="selected"{% endif %}>{{ i }}</option>
		{% endfor %}
		</div>
		<label for="sort">{% trans "of" %} {{ pageinfo.paginator.num_pages }}</label>
		<input type="hidden" name="sort" value="{{ request.GET.sort }}" />
		<input type="hidden" name="order" value="{{ request.GET.order }}" />
		<input class="btn btn-primary btn-sm" type="submit" value="{% trans 'Go' %}" />
		</div>
	</form>
</div>
{% if perms.tracker.view_full_list %}
<p align="center">
	{% pagefull %}
</p>
{% endif %}
